<main style="background-color: #fff;">
  <!-- header -->
  <section
    *ngIf="document_available"
    class="header"
    style="
      height: 120px;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      gap: 25px;
    "
  >
    <div>
      <!-- Heading  -->
      <h1 style="font-size: 30px; margin: 0; padding: 0">
        {{getItineraryName()}}
        <!-- Get from backend -->
      </h1>
    </div>

  </section>

  <!-- body -->
  <section class="body" style="display: flex; width: 100%; gap: 6%">

    <!-- main itinerary content -->
    <div class="left-content">
      
      <section style="width: 100%">
        <div style="display: flex; position: relative; width: 100%">
          <!-- itinerary body (calling customized itinerary component (hotels and flight will be automatically added once we got them)) -->
          <div
            style="
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
            "
          >
            <app-combined-itinerary
              
              [docUid]="docUid"

              [allFlights]="allFlights"
              [currentFlightSetIndex]="currentFlightSetIndex"
              [allHotels]="allHotels" 

              (getCurrentFlightSetIdxEmitter)="gotCurrentFlightSetIdx($event)"
              (allSelectedHotels)="gotAllSelectedHotels($event)"


              style="width: 100%"
            ></app-combined-itinerary>

          </div>
        </div>
      </section>
      
    </div>

    <!-- payment breakdown and route overview -->
    <div
      class="right-content"
      style="
        padding-top: 50px;
        width: 32%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      "
    >
      <!-- fare summary -->
      <div>
        <app-payment-breakdown-package

          [flightsPublishedFare]="flightPublishedFare"
          [flightsIncentive]="flightIncentive"

          [hotelsPublishedFare]="HotelsPublishedFare"
          [hotelsIncentive]="HotelsIncentive"

        ></app-payment-breakdown-package>
      </div>

      <!-- route overview -->
      <div *ngIf="document_available">
        <app-route-overview
          [connections]="document?.trip?.connections"
          [cities]="document?.trip?.cities"
          [departureCity]="document?.trip?.departure_airport"
        ></app-route-overview>
      </div>
    </div>

  </section>
</main>
