<div class="h-full mt-16">
    <div>
      <div class="mb-4">
        <nav>
          <a href="#home" class="text-customPurple">Home / Itinerary</a>
        </nav>
      </div>
  
      <div class="mb-4 text-center font-bold">
        <h2 class="text-customOrange underline">Make Your Own Holiday!</h2>
      </div>
    </div>
  
    <div class="flex flex-nowrap space-x-4 bg-gray-200 p-4">
      <div class="flex-1 max-w-1/4 flex items-stretch">
        <div class="flex items-center justify-between bg-customPurple p-1 rounded-2xl w-full">
          <label for="input5" class="text-white mr-2 text-sm underline">Departure Date></label>
          <input type="date" id="input5" name="input5" class="bg-white text-sm text-black rounded-2xl px-2 py-1 w-24"/>
        </div>
      </div>
  
      <div class="flex-1 max-w-1/4 flex items-stretch">
        <div class="flex items-center justify-between bg-customPurple p-1 rounded-2xl w-full">
          <label for="input1" class="text-white mr-2 text-sm underline">Departure City></label>
          <!-- dynamic list of cities to be fetched making api call || list to be added -->
          <select id="input1" name="input1" class="bg-white text-sm text-black rounded-2xl px-2 py-1 w-40">
            <option value="0">Select City</option>
          </select>
        </div>
      </div>
  
      <div class="flex-1 max-w-1/4 flex items-stretch">
        <div class="flex items-center justify-between bg-customPurple p-2 rounded-2xl w-full">
          <label for="input2" class="text-white mr-2 text-sm underline">Travellers></label>
          <select id="input2" name="input2" class="bg-white text-sm text-black rounded-2xl px-2 py-1 w-40">
            <option value="0">Select Traveller</option>
            <option value="1">Adult</option>
            <option value="2">Children</option>
            <option value="3">Infant</option>
          </select>
        </div>
      </div>
  
      <!-- opening modal for the advance traveller options -->
      <div class="flex-1 max-w-1/4 flex items-stretch">
        <div class="flex items-center justify-between w-full">
          <button (click)="openModal()" class="px-4 py-2 bg-customOrange text-white font-bold underline rounded-2xl border-customPurple border-2">
            Advanced Traveller Options
          </button>
        </div>
      </div>
    </div>
  
    <div class="flex items-center justify-center p-2 m-2">
      <input type="text" placeholder="Enter Destination Cities" name="input4" class="bg-white text-customPurple underline font-bold rounded-md px-2 py-1 w-auto placeholder-customPurple placeholder-opacity-75 shadow-lg"/>
    </div>
  
    <div id="empty-state" class="flex justify-center items-center h-80">
      <img src="img/vision (1).png" alt="Empty bin" class="w-64 h-64 rounded-full"/>
    </div>
  
    <!-- modal for advanced traveller options -->
    <div class="fixed inset-0 bg-gray-900 bg-opacity-85 z-1000 flex justify-center items-center overflow-y-auto" [ngClass]="{'hidden': !modalOpen}">
      <div class="bg-white p-6 rounded-2xl border-2 border-customPurple shadow-lg relative">
        <button (click)="closeModal()" class="absolute top-0 right-0 mt-2 mr-2 text-customPurple hover:text-customOrange">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
        <h2 class="text-2xl shadow-custom underline text-center mb-4 font-bold text-customOrange">
          Advance Traveller Options
        </h2>
  
        <h3 class="text-2xl shadow-custom font-bold text-customOrange">
          Traveller Age
        </h3>
        <div class="flex space-x-4">
          <div class="flex items-center justify-between mt-2 bg-customPurple p-2 rounded-2xl h-8 mb-2">
            <label for="input4" class="text-white mr-2 text-sm underline">Adult1</label>
            <input type="text" id="input4" name="input4" class="bg-white text-black rounded-2xl h-5 px-2 py-1 w-16"/>
          </div>
          <div class="flex items-center justify-between mt-2 bg-customPurple p-2 rounded-2xl h-8 mb-2">
            <label for="input4" class="text-white mr-2 text-sm underline">Adult2</label>
            <input type="text" id="input4" name="input4" class="bg-white text-black rounded-2xl h-5 px-2 py-1 w-16"/>
          </div>
          <div class="flex items-center justify-between mt-2 bg-customPurple p-2 rounded-2xl h-8 mb-2">
            <label for="input4" class="text-white mr-2 text-sm underline">Child1</label>
            <input type="text" id="input4" name="input4" class="bg-white text-black rounded-2xl h-5 px-2 py-1 w-16"/>
          </div>
        </div>
  
        <h3 class="text-2xl font-bold shadow-custom text-customOrange">
          Traveller Type
        </h3>
        <div class="flex flex-wrap space-x-4">
          <button class="option-button bg-customPurple p-2 rounded-xl mb-2 h-8 text-white text-sm flex items-center justify-center underline" (click)="selectOption('Family')" style="width: 100px">
            Family
          </button>
          <button class="option-button bg-customPurple p-2 rounded-xl mb-2 h-8 text-white text-sm flex items-center justify-center underline" (click)="selectOption('Couple')" style="width: 100px">
            Couple
          </button>
          <button class="option-button bg-customPurple p-2 rounded-xl mb-2 h-8 text-white text-sm flex items-center justify-center underline" (click)="selectOption('Solo')" style="width: 100px">
            Solo
          </button>
          <button class="option-button bg-customPurple p-2 rounded-xl mb-2 h-8 text-white text-sm flex items-center justify-center underline" (click)="selectOption('Friends')" style="width: 100px">
            Friends
          </button>
          <button class="option-button bg-customPurple p-2 rounded-xl mb-2 h-8 text-white text-sm flex items-center justify-center underline" (click)="selectOption('Colleagues')" style="width: 100px">
            Colleagues
          </button>
        </div>
  
        <h3 class="text-2xl font-bold shadow-custom text-customOrange">
          Nature Of Trip
        </h3>
  
        <div class="flex flex-wrap space-x-4">
          <button class="option-button bg-customPurple p-2 rounded-xl mb-2 h-8 text-white text-sm flex items-center justify-center underline" style="width: 100px" (click)="selectOption('Leisure')">
            Leisure
          </button>
          <button class="option-button bg-customPurple p-2 rounded-xl mb-2 h-8 text-white text-sm flex items-center justify-center underline" style="width: 100px" (click)="selectOption('Business')">
            Business
          </button>
          <button class="option-button bg-customPurple p-2 rounded-xl mb-2 h-8 text-white text-sm flex items-center justify-center underline" style="width: 100px" (click)="selectOption('Adventure')">
            Adventure
          </button>
          <button class="option-button bg-customPurple p-2 rounded-xl mb-2 h-8 text-white text-sm flex items-center justify-center underline" style="width: 100px" (click)="selectOption('Relaxation')">
            Relaxation
          </button>
          <button class="option-button bg-customPurple p-2 rounded-xl mb-2 h-8 text-white text-sm flex items-center justify-center underline" style="width: 100px" (click)="selectOption('Cultural')">
            Cultural
          </button>
        </div>
      </div>
    </div>
  </div>
  