.bg-customPurple {
  background-color: #323268;
}

.text-customPurple {
  color: #323268;
}

.bg-customOrange {
  background-color: #e2472b;
}

.text-customOrange {
  color: #e2472b;
}

.placeholder-customPurple ::placeholder {
  color: #323268;
}

.border-customPurple {
  border-color: #323268;
}

.shadow-custom {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}
