<div class="h-full mt-16">
    <div>
      <div class="mb-4">
        <nav>
          <a href="#home" class="text-customPurple">Home / Itinerary</a>
        </nav>
      </div>
  
      <div class="mb-4 text-center font-bold">
        <h2 class="text-customOrange underline">Make Your Own Holiday!</h2>
      </div>
    </div>
  
    <div class="flex flex-nowrap space-x-4 bg-gray-200 p-4">
      <div class=" flex-1 max-w-1/5 flex items-stretch">
        <div class="flex items-center justify-between bg-customPurple p-1 rounded-2xl w-full" style="height: 56px;">
          <label for="input5" class="text-white mr-2 text-sm">Departure Date</label>
          <input type="date" id="input5" name="input5" class="bg-white text-sm text-black rounded-2xl px-2 py-1 w-24"/>
        </div>
      </div>
  
      <div class="flex-1 max-w-1/5 flex items-stretch">
        <div class="flex items-center justify-between bg-customPurple p-1 rounded-2xl w-full" style="height: 56px;">
          <label for="input1" class="text-white mr-2 text-sm">Departure City</label>
          <!-- dynamic list of cities to be fetched making api call || list to be added -->
          <select id="input1" name="input1" class="bg-white text-sm text-black rounded-2xl px-2 py-1 w-24" >
            <option value="0">Select City</option>
          </select>
        </div>
      </div>
  
      <div class="flex-1 max-w-1/5 flex items-stretch">
        <div class="flex items-center justify-between bg-customPurple p-2 rounded-2xl w-90" style="height: 56px;">
          <label for="input2" class="text-white mr-2 text-sm">Travellers</label>
          <select id="input2" name="input2" class="bg-white text-sm text-black rounded-2xl px-2 py-1 w-24">
            <option value="0">Select</option>
            <option value="1">Adult</option>
            <option value="2">Children</option>
            <option value="3">Infant</option>
          </select>
        </div>
      </div>

      <div class="flex-1 max-w-1/5 flex items-stretch">
        <div class="flex items-center justify-between bg-customPurple p-2 rounded-2xl w-full" style="height: 56px;">
            <label for="input2" class="text-white mr-2 text-sm">Purpose Of Travel</label>
            <select id="input2" name="input2" class="bg-white text-sm text-black rounded-2xl px-2 py-1 w-24">
                <option value="0">Select</option>
                <option value="1">Leisure</option>
                <option value="2">Business</option>
                <option value="3">Honeymoon</option>
                <option value="4">Birthday</option>
                <option value="5">Anniversary</option>
                <option value="6">Bachelors</option>
                
            </select>
        </div>
    </div>

    <div class="flex-1 max-w-1/5 flex items-stretch">
        <div class="flex items-center justify-between bg-customPurple p-2 rounded-2xl w-full" style="height: 56px;">
            <label for="input2" class="text-white mr-2 text-sm">Traveler Type</label>
            <select id="input2" name="input2" class="bg-white text-sm text-black rounded-2xl px-2 py-1 w-24">
                <option value="0">Select</option>
                <option value="1">Family</option>
                <option value="2">Couple</option>
                <option value="3">Solo</option>
                <option value="4">Friends</option>
                <option value="5">Colleagues</option>
            </select>
        </div>
    </div>
  
      <!-- opening modal for the advance traveller options -->
      <!-- <div class="flex-1 max-w-1/4 flex items-stretch">
        <div class="flex items-center justify-between w-full">
          <button (click)="openModal()" class="px-4 py-2 bg-customOrange text-white font-bold underline rounded-2xl border-customPurple border-2">
            Advanced Traveller Options
          </button>
        </div>
      </div> -->
    </div>
  
    <div class="flex items-center justify-center p-2 m-2">
      <input type="text" placeholder="Enter Destination Cities" name="input4" class="bg-white text-customPurple underline font-bold rounded-md px-2 py-1 w-auto placeholder-customPurple placeholder-opacity-75 shadow-lg"/>
    </div>
  
    <div id="empty-state" class="flex justify-center items-center h-80">
      <img src="img/vision (1).png" alt="Empty bin" class="w-64 h-64 rounded-full"/>
    </div>
  
    <!-- modal for advanced traveller options -->
    <div class="fixed inset-0 bg-gray-900 bg-opacity-85 z-1000 flex justify-center items-center overflow-y-auto" [ngClass]="{'hidden': !modalOpen}">
      <div class="bg-white p-6 rounded-2xl border-2 border-customPurple shadow-lg relative">
        <button (click)="closeModal()" class="absolute top-0 right-0 mt-2 mr-2 text-customPurple hover:text-customOrange">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
        <h2 class="text-2xl shadow-custom text-center mb-4 font-bold text-customOrange">
          Advance Traveller Options
        </h2>
  
        <h3 class="text-2xl font-bold shadow-custom text-customOrange">Preferences</h3>
        <div class="flex space-x-4">
            <button class="option-button bg-customPurple p-2 rounded-xl h-8 text-white text-sm flex items-center justify-center " style="width: 130px;" onclick="selectOption('Spa Wellness')">Spa Wellness</button>
            <button class="option-button bg-customPurple p-2 rounded-xl h-8 text-white text-sm flex items-center justify-center " style="width: 120px;" onclick="selectOption('Nightlife Beach')">Nightlife Beach</button>
            <button class="option-button bg-customPurple p-2 rounded-xl h-8 text-white text-sm flex items-center justify-center " style="width: 120px;" onclick="selectOption('Mountains')">Mountains</button>
            <button class="option-button bg-customPurple p-2 rounded-xl h-8 text-white text-sm flex items-center justify-center " style="width: 140px;" onclick="selectOption('Hiking & Trekking')">Hiking & Trekking</button>
            <button class="option-button bg-customPurple p-2 rounded-xl h-8 text-white text-sm flex items-center justify-center " style="width: 120px;" onclick="selectOption('Adventures')">Adventures</button>
            <button class="option-button bg-customPurple p-2 rounded-xl h-8 text-white text-sm flex items-center justify-center " style="width: 120px;" onclick="selectOption('Wildlife Safaris')">Wildlife Safaris</button>
           
          </div>
        

        
        <h3 class="text-2xl font-bold shadow-custom text-customOrange">Cuisines</h3>
       
        <div class="flex space-x-4">
            <button class="option-button bg-customPurple p-2 rounded-xl h-8 text-white text-sm flex items-center justify-center " style="width: 110px;" onclick="selectOption('Italian')">Italian</button>
            <button class="option-button bg-customPurple p-2 rounded-xl h-8 text-white text-sm flex items-center justify-center " style="width: 110px;" onclick="selectOption('Mexican')">Mexican</button>
            <button class="option-button bg-customPurple p-2 rounded-xl h-8 text-white text-sm flex items-center justify-center " style="width: 110px;" onclick="selectOption('Japanese')">Japanese</button>
            <button class="option-button bg-customPurple p-2 rounded-xl h-8 text-white text-sm flex items-center justify-center " style="width: 110px;" onclick="selectOption('Italian')">Indian</button>
            <button class="option-button bg-customPurple p-2 rounded-xl h-8 text-white text-sm flex items-center justify-center " style="width: 125px;" onclick="selectOption('Mexican')">Mediterranean</button>
            <button class="option-button bg-customPurple p-2 rounded-xl h-8 text-white text-sm flex items-center justify-center " style="width: 110px;" onclick="selectOption('Japanese')">Thai</button>
          </div>

        <h3 class="text-2xl font-bold shadow-custom text-customOrange">Pace Of Travel</h3>
        
        <div class="flex space-x-4">
            <button class="option-button bg-customPurple p-2 rounded-xl h-8 text-white text-sm flex items-center justify-center " style="width: 100px;" onclick="selectOption('Fast')">Fast</button>
            <button class="option-button bg-customPurple p-2 rounded-xl h-8 text-white text-sm flex items-center justify-center " style="width: 100px;" onclick="selectOption('Medium')">Medium</button>
            <button class="option-button bg-customPurple p-2 rounded-xl h-8 text-white text-sm flex items-center justify-center" style="width: 100px;" onclick="selectOption('Slow')">Slow</button>
          </div>
  
        <!-- <h3 class="text-2xl font-bold shadow-custom text-customOrange">
          Nature Of Trip
        </h3>
  
        <div class="flex flex-wrap space-x-4">
          <button class="option-button bg-customPurple p-2 rounded-xl mb-2 h-8 text-white text-sm flex items-center justify-center underline" style="width: 100px" (click)="selectOption('Leisure')">
            Leisure
          </button>
          <button class="option-button bg-customPurple p-2 rounded-xl mb-2 h-8 text-white text-sm flex items-center justify-center underline" style="width: 100px" (click)="selectOption('Business')">
            Business
          </button>
          <button class="option-button bg-customPurple p-2 rounded-xl mb-2 h-8 text-white text-sm flex items-center justify-center underline" style="width: 100px" (click)="selectOption('Adventure')">
            Adventure
          </button>
          <button class="option-button bg-customPurple p-2 rounded-xl mb-2 h-8 text-white text-sm flex items-center justify-center underline" style="width: 100px" (click)="selectOption('Relaxation')">
            Relaxation
          </button>
          <button class="option-button bg-customPurple p-2 rounded-xl mb-2 h-8 text-white text-sm flex items-center justify-center underline" style="width: 100px" (click)="selectOption('Cultural')">
            Cultural
          </button>
        </div> -->
      </div>
    </div>
  </div>
  