<main style="width: 320px;" >

    <div class="flightCard">
  
      <div class="airline">
       
        <div class="airline-section2">
          <h3 style="font-size: 0.8rem;">{{ getAirlineName(0) }}</h3>
          <h4 style="font-size: 0.7rem;">{{ getCabinClass(0) }}</h4>
        </div>
      </div>
  
      <div class="timings">
        <div class="timings-city-stats">
          <h3 style="font-size: 0.7rem;">{{ getDepartureTime(0) }}</h3>
          <h4 style="font-size: 0.6rem;"> {{ getFirstOriginCity(0) }} </h4>
          <h3 style="font-size: 0.7rem;"> {{ getDepartDate(0) }} </h3>
        </div>
        <div class="timings-duration">
          <h4 style="font-size: 0.6rem;">{{ getFlightDuration(0) }}</h4>
           <button type="button" class="btn flight-stops-btn "  placement="top" ngbTooltip>
            <img src="{{ getStopsImageUrl(0) }}" alt="stops Bar" />
            </button>
          
           
            <ng-template class="flightStopsContent"  #flightStopsContent>
  
                <div class="flight-stop-tooltip">
                  <h3>Plane change</h3>
                  <div class="flight-stop-tooltip-footer">
                    <h4>Amritsar (ATQ)</h4>
                    <h4>4h 20m </h4>
                  </div>
                </div>
  
  
               </ng-template>
          <h4 style="font-size: 0.6rem;">{{ getFlightStops(0) }}</h4>
        </div>
        <div class="timings-city-stats">
          <h3 style="font-size: 0.7rem;">{{ getArrivalTime(0) }}</h3>
          <h4 style="font-size: 0.6rem;">{{ getFinalDestinationCity(0) }}  </h4>
          <h3 style="font-size: 0.7rem;"> {{ getArrDate(0) }}  </h3>
        </div>
      </div>
    
  
     <ng-container *ngIf="fare">
      <div class="pricing">
        <span style="font-size: 0.7rem; font-weight: 600;">₹ {{fare?.PublishedFare}}</span>
        <span style="font-size: 0.7rem; ">₹ {{fare?.CommissionEarned.toFixed(2)}}</span>
        <span style="font-size: 0.6rem; font-weight: 600;">Incentive</span>
      
        <!-- <input type="radio" /> -->
      </div>
     </ng-container>
      
      <div>
  
      </div>
    
    </div>
  
    <!-- <app-flight-details *ngIf="isflightDetails" (click)="toTriggerAlternateFlightsetDialogBox()"  ></app-flight-details> -->
  
      
  </main>
  