<main>

    <div class="pricing-heading">
        <h1>RouteMaestro Pricing Plans</h1>
        <h3>A Plan For Your Every Plan</h3>
        <h5>(No Credit Card Required)</h5>
    </div>
    <div class="container pricing-main">
        <div class="row">
            <div class="col">

                <div class="col1">
                        <div class="pricing-card" >

                        </div>
                       

                        <!-- 1 -->
                        <div class="pricing-block">
                            <h2>Create Your own professional itineraries</h2>
                        </div>

                        <!-- 2 -->
                        <div  class="pricing-block" style="height: 130px;">
                            <h2>Generate Customised AI Itineraries</h2>
                            <h3>• Highly Convertible Itineraries</h3>
                            <h3>• Use Your Own Company Logo</h3>
                        </div>

                        <!-- 3 -->
                        <div  class="pricing-block" >
                            <h2>Live Travel Packages

                                <button type="button" class="btn btn-outline-secondary me-2 iTooltip"
                                placement="top" ngbTooltip="Theses are some different Hotels"
                                 tooltipClass="no-transition-tooltip">
                            <i>i</i>
                        </button>
                            </h2>
                            
                        </div>

                        <!-- 4 -->
                        <div  class="pricing-block" style="height: 130px;">
                            <h2>RealTime Availabilty & Instant Booking  
                              
                            </h2>
                            <h3>• 10 Lakh + Hotels
                                <button type="button" class="btn btn-outline-secondary me-2 iTooltip"
                                placement="top" ngbTooltip="Theses are some different Hotels"
                                 tooltipClass="no-transition-tooltip">
                            <i>i</i>
                        </button>
                            </h3>
                            <h3>• 40+ Airlines
                                <button type="button" class="btn btn-outline-secondary me-2 iTooltip"
                                placement="top" ngbTooltip="Theses are some different Airlines"
                                 tooltipClass="no-transition-tooltip">
                            <i>i</i>
                        </button>
                        
                         </h3>
                        </div>

                        <!-- 5 -->
                        <div  class="pricing-block" >
                            <h2>Online Payment Collection Facility</h2>
                        </div>

                       

                        <!-- 6 -->
                        <div  class="pricing-block" style="height: 130px;">
                            <h2>Exclusive Inventory Rates</h2>
                            <h3>• 0% Platform Commission On Booking</h3>
                            <h3>• Agent Coommissionable Rates</h3>
                        </div>

                        <!-- 7 -->
                        <div  class="pricing-block"  >
                            <h2>Demographically Unrestricted Service Area</h2>
                        </div>

                         <!-- 8 -->
                        <div  class="pricing-block" style="height: 130px; border: none;">
                            <h2> CRM </h2>
                            <h3>• Enquiry Management System</h3>
                            <h3>• Manage Customers, Staff, Branches & More</h3>
                        </div>
                    </div>

            </div>

            <!-- FREE ROUTEMAESTRO PLAN -->
            <div class="col pricing-col-main">
                <div class="col2 pricing-col-inner" >
                    <div class="pricing-card" style="  background-color: #063e68;justify-content: space-evenly;">
                        <h3 class="pricing-col-heading">Free</h3>
                        <button type="button" class="btn btn-primary p-1 buyNow-btn" value="0" (click)=navigationToCheckout($event.target.value)>Start Trial</button>

                    </div>
                    <!-- 1 -->
                    <div  class="pricing-block">
                        <h4>Unlimited</h4>
                        
                    </div>

                    <!-- 2 -->
                    <div class="pricing-block" style="height: 130px;">
                        <h4>3</h4>

                    </div>

                    <!-- 3 -->
                    <div  class="pricing-block"  >
                       -

                    </div>

                    <!-- 4 -->
                    <div class="pricing-block"  style="height: 130px;">
                        -
                    </div>

                    <!-- 5 -->
                    <div  class="pricing-block">
                        -

                    </div>

                    <!-- 6 -->
                    <div class="pricing-block" style="height: 130px;">
                        -

                    </div>

                    <!-- 7 -->
                    <div  class="pricing-block"  >
                        -

                    </div>

                    <!-- 8 -->
                    <div class="pricing-block" style="height: 130px; border: none;">
                        -

                    </div>
                   
                    
                </div>
            </div>

            <!-- BASIC ROUTE MAESTRO PLAN -->
            <div class="col pricing-col-main">
                <div class="col3 pricing-col-inner"  >
                    <div class="pricing-card" style="  background-color: #063e68;">
                        <h3>Route Maestro Basic</h3>
                        <h5>₹8,500/Month/User</h5>
                        <button type="button" class="btn btn-primary p-1 buyNow-btn" value="8500" (click)="navigationToCheckout($event.target.value)">Buy Now</button>
                    </div>
                    <!-- 1 -->
                    <div  class="pricing-block">
                        <h4>Unlimited</h4>

                    </div>

                    <!-- 2 -->
                    <div class="pricing-block" style="height: 130px;">
                        <h4>Unlimited</h4>
                    </div>

                    <!-- 3 -->
                    <div  class="pricing-block"  >
                        <h4>Unlimited</h4>

                    </div>

                    <!-- 4 -->
                    <div class="pricing-block"  style="height: 130px;">
                        <img src="../../../assets/img/brand/check-mark_5290058.png" class="correct-img" alt="">

                    </div>

                    <!-- 5 -->
                    <div  class="pricing-block">
                        <img src="../../../assets/img/brand/check-mark_5290058.png" class="correct-img" alt="">

                    </div>

                    <!-- 6 -->
                    <div class="pricing-block" style="height: 130px;">
                        <img src="../../../assets/img/brand/check-mark_5290058.png" class="correct-img" alt="">


                    </div>

                    <!-- 7 -->
                    <div  class="pricing-block"  >
                        <img src="../../../assets/img/brand/check-mark_5290058.png" class="correct-img" alt="">


                    </div>

                    <!-- 8 -->
                    <div class="pricing-block" style="height: 130px; border: none;">
                        -

                    </div>
                   
                 
                </div>
            </div>
            <div class="col pricing-col-main">
                <div class="col4 pricing-col-inner" >
                    <div class="pricing-card" style="background-color: #063e68;">
                        <h3>Route Maestro Pro</h3>
                        <h5>₹ 10,500/Month/User</h5>
                        <button type="button" class="btn btn-primary p-1 buyNow-btn" value="10500" (click)="navigationToCheckout($event.target.value)" >Buy Now</button>
                        
                    </div>
                    <!-- 1 -->
                        <div  class="pricing-block">
                            <h4>Unlimited</h4>

                        </div>

                        <!-- 2 -->
                        <div class="pricing-block" style="height: 130px;">
                            <h4>Unlimited</h4>
                        </div>

                        <!-- 3 -->
                        <div  class="pricing-block"  >
                            <h4>Unlimited</h4>
                        </div>

                        <!-- 4 -->
                        <div  class="pricing-block"  style="height: 130px;">
                            <img src="../../../assets/img/brand/check-mark_5290058.png" class="correct-img" alt="">

                        </div>

                        <!-- 5 -->
                        <div  class="pricing-block">
                        <img src="../../../assets/img/brand/check-mark_5290058.png" class="correct-img" alt="">

                        </div>

                        <!-- 6 -->
                        <div  class="pricing-block" style="height: 130px;">
                        <img src="../../../assets/img/brand/check-mark_5290058.png" class="correct-img" alt="">

                        </div>

                        <!-- 7 -->
                        <div  class="pricing-block"  >
                        <img src="../../../assets/img/brand/check-mark_5290058.png" class="correct-img" alt="">

                        </div>

                        <!-- 8 -->
                        <div  class="pricing-block" style="height: 130px; border: none;">
                        <img src="../../../assets/img/brand/check-mark_5290058.png" class="correct-img" alt="">

                        </div>
                      
                </div>

            </div>
        </div>
    </div>


    <!-- ////////////////////////////////////////////////// -->

    <div class="all-plans-smaller-screens" >

        <!-- free plan -->
        <div class="plan">
            <div class="plan-brief" (click)="toggleAnswer1()"> 
                <h2>Free</h2>

            </div>
            <div class=" plan-inclusions" *ngIf="isAnswerVisible1" [@fadeInOut]>
                
                <div class="plan-description" >

                    <div class="plan-specific-heading">
                        <h2>Create  your own professional itineraries</h2>
                    </div>
                    <div class="plan-specific-answer">
                        <p>Unlimited</p>
                    </div>                    

                </div>
                <div class="plan-description" >

                    <div class="plan-specific-heading">
                        <h2>generate customized ai itineraries</h2>
                        <h3>• Highly Convertible Itineraries</h3>
                        <h3>• Use Your Own Company Logo</h3>
                    </div>
                    <div class="plan-specific-answer">
                        <p>3</p>
                    </div>                    

                </div>
                <div class="plan-description" >

                    <div class="plan-specific-heading">
                        <h2>GENERATE REAL TIME PACKAGES</h2>
                        <h3>• 10Lakh + Hotels</h3>
                        <h3>
                            • 17+ Airlines</h3>
                    </div>
                    <div class="plan-specific-answer">
                        <p>-</p>
                    </div>                    

                </div> 
                <div class="plan-description" >

                    <div class="plan-specific-heading">
                        <h2>ONLINE PAYMENT COLLECTION FACILITY</h2>
                       
                    </div>
                    <div class="plan-specific-answer">
                        <p>-</p>
                    </div>                    

                </div>
                <div class="plan-description" >

                    <div class="plan-specific-heading">
                        <h2>REAL TIME AVAILABILTY & INSTANT BOOKING</h2>
                        
                    </div>
                    <div class="plan-specific-answer">
                        <p>-</p>
                    </div>                    

                </div>
                <div class="plan-description" >

                    <div class="plan-specific-heading">
                        <h2>EXCLUSIVE INVENTORY RATES</h2>
                        <h3>
                            • 0% Platform Commission On Booking</h3>
                            <h3> • Agent Coommissionable Rates</h3>
                    </div>
                    <div class="plan-specific-answer">
                        <p>-</p>
                    </div>                    

                </div>
                <div class="plan-description" >

                    <div class="plan-specific-heading">
                        <h2>Agency CRM Software</h2>
                        <h3>Enquiry & Branch Management</h3>
                    </div>
                    <div class="plan-specific-answer">
                        <p>-</p>
                    </div>                    

                </div>
                <div class="plan-description" >

                    <div class="plan-specific-heading">
                        <h2>DEMOGRAPHICALLY UNRESTRICTED SERVICE AREA</h2>
                        
                    </div>
                    <div class="plan-specific-answer">
                        <p>-</p>
                    </div>                    
                </div>
            </div>
        </div>
        

        <!-- basic routeMaestro -->
        <div class="plan">
            <div class="plan-brief" (click)="toggleAnswer2()"> 
                <h2>Basic RouteMaestro</h2>
                    <h4> ₹5,500/MONTH/USER </h4>
                    <button type="button" class="btn btn-primary p-1 buyNow-btn" value="basic" (click)="navigationToCheckout($event)">Buy Now</button>

            </div>
            <div class=" plan-inclusions" *ngIf="isAnswerVisible2" [@fadeInOut]>
                <div class="plan-description" >

                    <div class="plan-specific-heading">
                        <h2>Agency CRM Software</h2>
                        <h3>Enquiry & Branch Management</h3>
                    </div>
                    <div class="plan-specific-answer">
                        <img src="../../../assets/img/brand/check-mark_5290058.png" alt="">
                    </div>                    

                </div>
                <div class="plan-description" >

                    <div class="plan-specific-heading">
                        <h2>Create  your own professional itineraries</h2>
                    </div>
                    <div class="plan-specific-answer">
                        <p>25</p>
                    </div>                    

                </div>
                <div class="plan-description" >

                    <div class="plan-specific-heading">
                        <h2>generate customized ai itineraries</h2>
                        <h3>• Highly Convertible Itineraries</h3>
                        <h3>• Use Your Own Company Logo</h3>
                    </div>
                    <div class="plan-specific-answer">
                        <p>25</p>
                    </div>                    

                </div>
                <div class="plan-description" >

                    <div class="plan-specific-heading">
                        <h2>GENERATE REAL TIME PACKAGES</h2>
                        <h3>• 10Lakh + Hotels</h3>
                        <h3>
                            • 17+ Airlines</h3>
                    </div>
                    <div class="plan-specific-answer">
                        <p>-</p>
                    </div>                    

                </div> 
                <div class="plan-description" >

                    <div class="plan-specific-heading">
                        <h2>ONLINE PAYMENT COLLECTION FACILITY</h2>
                       
                    </div>
                    <div class="plan-specific-answer">
                        <p>-</p>
                    </div>                    

                </div>
                <div class="plan-description" >

                    <div class="plan-specific-heading">
                        <h2>REAL TIME AVAILABILTY & INSTANT BOOKING</h2>
                        
                    </div>
                    <div class="plan-specific-answer">
                        <p>-</p>
                    </div>                    

                </div>
                <div class="plan-description" >

                    <div class="plan-specific-heading">
                        <h2>EXCLUSIVE INVENTORY RATES</h2>
                        <h3>
                            • 0% Platform Commission On Booking</h3>
                            <h3> • Agent Coommissionable Rates</h3>
                    </div>
                    <div class="plan-specific-answer">
                        <p>-</p>
                    </div>                    

                </div>
                <div class="plan-description" >

                    <div class="plan-specific-heading">
                        <h2>DEMOGRAPHICALLY UNRESTRICTED SERVICE AREA</h2>
                        
                    </div>
                    <div class="plan-specific-answer">
                        <p>-</p>
                    </div>                    
                </div>
            </div>

        </div>

        <!-- routeMaestro Pro -->
        <div class="plan">
            <div class="plan-brief" (click)="toggleAnswer3()"> 
                <h2>RouteMaestro Pro</h2>
                <h4> 
                    ₹ 10,500/MONTH/USER </h4>
                    <button type="button" class="btn btn-primary p-1 buyNow-btn" value="pro" (click)="navigationToCheckout($event)">Buy Now</button>

            </div>
            <div class=" plan-inclusions" *ngIf="isAnswerVisible3"  [@fadeInOut]>
                <div class="plan-description" >

                    <div class="plan-specific-heading">
                        <h2>Agency CRM Software</h2>
                        <h3>Enquiry & Branch Management</h3>
                    </div>
                    <div class="plan-specific-answer">
                        <img src="../../../assets/img/brand/check-mark_5290058.png" alt="">
                    </div>                    

                </div>
                <div class="plan-description" >

                    <div class="plan-specific-heading">
                        <h2>Create  your own professional itineraries</h2>
                    </div>
                    <div class="plan-specific-answer">
                        <p>Unlimited</p>
                    </div>                    

                </div>
                <div class="plan-description" >

                    <div class="plan-specific-heading">
                        <h2>generate customized ai itineraries</h2>
                        <h3>• Highly Convertible Itineraries</h3>
                        <h3>• Use Your Own Company Logo</h3>
                    </div>
                    <div class="plan-specific-answer">
                        <p>Unlimited</p>
                    </div>                    

                </div>
                <div class="plan-description" >

                    <div class="plan-specific-heading">
                        <h2>GENERATE REAL TIME PACKAGES</h2>
                        <h3>• 10Lakh + Hotels</h3>
                        <h3>
                            • 17+ Airlines</h3>
                    </div>
                    <div class="plan-specific-answer">
                        <p>Unlimited</p>
                    </div>                    

                </div> 
                <div class="plan-description" >

                    <div class="plan-specific-heading">
                        <h2>ONLINE PAYMENT COLLECTION FACILITY</h2>
                       
                    </div>
                    <div class="plan-specific-answer">
                       <img src="../../../assets/img/brand/check-mark_5290058.png" alt="">
                    </div>                    

                </div>
                <div class="plan-description" >

                    <div class="plan-specific-heading">
                        <h2>REAL TIME AVAILABILTY & INSTANT BOOKING</h2>
                        
                    </div>
                    <div class="plan-specific-answer">
                        <img src="../../../assets/img/brand/check-mark_5290058.png" alt="">

                    </div>                    

                </div>
                <div class="plan-description" >

                    <div class="plan-specific-heading">
                        <h2>EXCLUSIVE INVENTORY RATES</h2>
                        <h3>
                            • 0% Platform Commission On Booking</h3>
                            <h3> • Agent Coommissionable Rates</h3>
                    </div>
                    <div class="plan-specific-answer">
                        <img src="../../../assets/img/brand/check-mark_5290058.png" alt="">

                    </div>                    

                </div>
                <div class="plan-description" >

                    <div class="plan-specific-heading">
                        <h2>DEMOGRAPHICALLY UNRESTRICTED SERVICE AREA</h2>
                        
                    </div>
                    <div class="plan-specific-answer">
                        <img src="../../../assets/img/brand/check-mark_5290058.png" alt="">

                    </div>                    
                </div>
            </div>

        </div>

    </div>

</main>
