* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    main {
      margin: 20px 80px;
    }
    .pricing-col-main {
      display: flex;
      justify-content: center;
    }
    .pricing-col-inner {
      border-radius: 10px;
      background-color: #063e6826;
      box-shadow: -2px -2px 10px 0 #80808057, 2px 2px 10px 0 #80808057;
    }
  
    .pricing-heading {
      margin-top: 100px;
  
      text-align: center;
    }
    .pricing-heading h1 {
      font-size: 50px;
      color: #000;
      word-spacing: 15px;
      letter-spacing: 0.1px;
      font-weight: 400;
    }
    .pricing-heading h3 {
      font-size: 19px;
      letter-spacing: 0.2px;
      font-weight: 500;
      color: #000000ba;
      font-family: cursive;
    }
  
    .pricing-heading h5 {
      font-size: 11px;
    }
  
    .pricing-main {
      margin-top: 50px;
    }
    .pricing-card {
      font-size: 15px;
      height: 140px;
      width: 230px;
      display: flex;
      text-align: center;
      color: #fff;
      border-radius: 10px 10px 0 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      gap: 5px;
    }
  
    .pricing-card h3 {
      color: #fff;
      font-size: 22px;
      line-height: 27px;
    }
    .pricing-card h5 {
      color: #2dce89;
      font-size: 12px;
    }
    
    .pricing-block {
      height: 100px;
      width: 285px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid rgb(0 0 0 / 15%);
      flex-direction: column;
      padding: 1px 14px;
    }
    .pricing-block h2 {
      font-size: 20px;
      text-transform: capitalize;
      text-align: center;
      color: #201d33;
      font-weight: 500;
    }
  
    .pricing-block h3 {
      font-size: 14px;
      color: #232121;
      font-weight: 400;
      text-transform: capitalize;
      text-align: center;
    }

    .pricing-block-plans {
      height: 100px;
      
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid rgb(0 0 0 / 15%);
      flex-direction: column;
      padding: 1px 14px;
    }
    .pricing-block-plans h2 {
      font-size: 20px;
      text-transform: capitalize;
      text-align: center;
      color: #201d33;
      font-weight: 500;
    }
  
    .pricing-block-plans h3 {
      font-size: 14px;
      color: #232121;
      font-weight: 400;
      text-transform: capitalize;
      text-align: center;
    }
    .correct-img {
      height: 40px;
    }
    .cancel-img {
      height: 32px;
    }
  
    .buyNow-btn {
      background-color: #bf7408 !important;
      border: none;
    }
  
    .all-plans-smaller-screens {
      display: none;
    }
    .no-transition-tooltip {
      transition: none !important;
    }
    
    .iTooltip{
      
      height: 20px;
      width: 15px;
      background-color: #8080803b;
       
      &:hover{
        transform: none;
      }
    }
  }
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    main {
      margin-top: 160px;
    }
  
    .pricing-heading {
  
      text-align: center;
    }
    .pricing-heading h1 {
      font-size: 50px;
      color: #000;
      word-spacing: 15px;
      letter-spacing: 0.1px;
    }
    .pricing-heading h3 {
      font-size: 19px;
      letter-spacing: 0.2px;
      font-weight: 500;
      color: #000000ba;
      font-family: cursive;
    }
  
    .pricing-heading h5 {
      font-size: 11px;
    }
  
    .pricing-main {
      display: none;
    }
    .all-plans-smaller-screens {
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;
      margin-top: 80px;
    }
  
    .plan {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 85%;
    }
  
    .plan-brief {
      height: 217px;
      width: 90%;
      background-color: #201d33;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px 15px;
      flex-direction: column;
      gap: 11px;
    }
  
    .plan-brief h2 {
      color: #fff;
      font-size: 37px;
      text-align: center;
      padding: 1px 14px;
    }
    .plan-brief h4{
      color: #fff;
    }
  
    .plan-inclusions {
      width: 90%;
      display: flex;
      border: 4px solid #201d33;
      flex-direction: column;
      align-items: center;
      box-shadow: 5px 5px 10px 0 grey;
      margin: -10px;
      border-radius: 0 0 20px 20px;
    }
    .plan-description {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px;
      text-align: start;
    }
    .plan-specific-heading {
      width: 75%;
      padding:9px;
      h2{
          color: #000;
          font-size: 20px;
          word-spacing: 2px;
          font-weight: 600;
          text-transform: uppercase;
      }
      h3{
          color: #000;
          font-size: 14px;
          font-weight: 500;
          text-transform: capitalize;
          margin: 0;
      }
    }
    .plan-specific-answer{
      text-align: center;
      width: 25%;
    }
    .plan-specific-answer p {
      color: #000;
      font-size: 16px;
    }
    .plan-specific-answer img{
      height: 50px;
    }
  }
  

  .container-all{
    justify-content: space-around;
    gap:30px;
  }

  .main{
    width: 100vw;
    opacity: 1;
    z-index: 999;
  }

  button{
    border: 0;
  }

  input{
    border: 0.5px wheat solid;
  }