<main>
    <div style="height: 300px;background-color: rgb(194, 194, 243); width: 300px;display: flex; flex-direction: column; align-items: center;justify-content: space-evenly; border: 2px solid #000; " >

        <h1 style="margin: 0;" >Fare Summary</h1>
        <div>
          <div style="display: flex; align-items: center;justify-content: space-evenly;">
            <h2>Flight Cost:</h2>
            <h3>{{publishedFareFlight}}</h3>
          </div>
          <div style="display: flex; align-items: center;justify-content: space-evenly;">
            <h2>Hotel Cost:</h2>
            <h3>30000</h3>
          </div>
          <div style="display: flex; align-items: center;justify-content: space-evenly;">
            <h2>Incentive:</h2>
            <h3>30000</h3>
          </div>
          
        </div>
  
        <button style="    border: none;
        background-color: blue;
        color: #fff;
        padding: 7px 11px;
        border-radius: 10px;
        font-weight: 600;">Total Package Cost</button>
  
      </div>
</main>