
  <div class="container-fluid container_outer ">
      <div class="container container_inner">
  
        <div class="container pt-2">
          <div class="row" style="height: 70vh;">
            <!-- <div class=" col-12 d-block d-lg-none mb-5" style="font-weight: 500;">
              <div class="card" style=" background-color: #EEE0FF; border-radius: 5px;">
                <a class="text-dark fs-2 p-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" style="text-decoration: none; background-color: #EEE0FF;">
                  Help Center
                  <span style=" float: right;"><i class="fa-solid fa-bars fa-sm ms-3"></i></span>
                </a>
              </div>
            </div> -->
  
            <div class="col-12 scrollable-column">
              <section id="For_Pets_Parents" style="font-weight: 300;">
  
                <h1 class="mb-2">Refund & Cancelletion</h1>
                <hr>
  
                <section id="Domestic & International Flight Booking Terms">
                  <h3 class="m-0">Domestic & International Flight Booking Terms</h3><br>
                  <p>• The total amount of booking amount displayed on website is inclusive of all applicable taxes.<br>
                     • In case of EMI option, you can divide your payments as mentioned by the third party company. In other cases, you are required to pay the entire amount prior to the confirmation of your booking.<br>
                     • You are requested to fill all passenger(s) name as per the standard government issued valid identity card.<br>
                     • With respect to the necessary safety concerns, children above the age of seven 7 days and under the age of two 2 years, as on the date of travel, can travel as Infants. Age proof needs to be provided at the time of check-in such as Birth Certificate, Vaccination Certificate, Mother discharge slip from hospital or Passport.<br>
                     • In case of an infant traveller with age of 24 months or above, you'll need to make a separate booking using a child fare.<br>
                     • Infants must be accompanied by an adult who is equal to or more than 18 years of age.<br>
                     • All services booked and issued to the customer shall be governed under the terms and conditions as laid out by the respective Airlines. In addition, We recommend the user to refer to the Airlines terms and conditions before booking the ticket as well.<br>
                     • By accepting our booking terms, user is also agreeing to terms & conditions of the respective Airline(s).<br>
                     • The convenience fee charged by BOARDTHETRIP for domestic and international flight bookings varies with the airline and the booking amount. Passenger(s) can find the convenience fee charged on the booking page before making the payment.<br>
                     • Fares are subject to availability. • Once you place the order, please wait for 01 hour to get an update for your order confirmation, In case if you do not receive any update of your ticket confirmation, please call us on our 24*7 customer care number or write us at cs@BoardTheTrip.com.<br>
                     • BOARDTHETRIP will not be liable for any refund in duplicate orders. Standard charges will be applicable in case of cancellation.<br>
                     • All mentioned taxes, surcharges and fees are to be paid by the passenger, as applicable on the date of travel.<br>
                     • Flight schedules and timings are subject to airline’s regulatory approvals and change(s). <br>
                     Check-in • As per the Airline rules, the standard check-in time begins 02 hours prior to the schedule departure for all domestic flights.<br>
                     • As per the Airline rules, the standard check-in time begins 04 hours prior to the schedule departure all international flights.<br>
                     • Passenger(s) are requested to carry their original identity proof like Aadhar card, Driving License, Voter Id card, Passport etc., at the time of travel. For all International Sectors, Passport is mandate.<br>
                     • Passenger(s) are requested to carry their e-ticket copy at the time of travel.<br>
                     • Additional payment may be charged by the Airline for seat allocations.<br>
                     • BOARDTHETRIP request all passengers to check terminal information from the airlines directly.<br>
                     • If passenger(s) fails to check-in or unable to board the flight, will be considered as No-Show.<br>
                     • All passengers are requested to check for any transit / destination visa requirements with the respective airline or visa embassy, for all international travel sectors.<br>
                     Amendments Policy • BOARDTHETRIP will assist you for amendments in most of the cases, however there could be few cases where you will need to contact the Airline directly.<br>
                     • Every booking made on BOARDTHETRIP is subject to amendment charges levied by the airline, which may vary by flight and booking class and such charges levied by the airlines are Non-Refundable in case of cancellation post amendment.<br>
                     • BoardTheTrip will stop accepting cancellation / change request 6 hours prior to flight departure time for all domestic sector (s), for Air India (26 hours). For International Airlines, 26 hours prior to Flight departure time.<br>
                     • In case of online reschedule, new booking id will be generated and details will be sent to customer.<br>
                     • In case of any rescheduling, you will be charged with the applicable airline’s rebook fee and fare difference, if any. However, in case the new fare is lower than the original fare, difference in the amount will not be refunded.<br>
                     • All bookings made through us, can also be amended by calling up the Airline call centre directly.<br>
                     • You can amend your domestic/ international flight bookings online. Log in to My Trips, select the relevant booking and click on the Change button.<br>
                     • For any changes on Domestic / International flights, a standard HEG service fee of INR 500 per passenger per sector will be applicable.<br>
                     • Post amendment, amount paid to HEG is non-refundable, in case of No-show on domestic / International flights.<br>
                     • For any offline amendments, please call us on our 24*7 customer care number.</p>
                </section>
                <hr>
  
                <section id="Cancellation Policy">
                  <h3 class="m-0">Cancellation Policy</h3><br>
                  <p>Every booking made on BOARDTHETRIP is subject to cancellation charges levied by the Airline, which may vary by flight and booking class.<br> 
                    • Few Tickets might not be refundable depending on the specific Airline's Policy. <br>
                    • Please note Convenience fee charged at the time of booking is non-refundable at the time of cancellation.<br> 
                    • BoardTheTrip will stop accepting cancellation / change request 6 hours prior to flight departure time for all domestic sector (s), for Air India (26 hours). For International Airlines, 26 hours prior to Flight departure time.<br>
                    • If you have done Web/Tele Check-in directly with the airline, request you to get in touch with airline directly for cancellation. BOARDTHETRIP will not be responsible for all such cases.<br> 
                    • For any cancellation made by you for which refund is already processed and if it is found that you have used/made changes to the ticket on the same PNR directly with the airline, BOARDTHETRIP reserves the right to debit your original mode of payment against the amount which has been refunded to you. <br>
                    • You can cancel your domestic/ international flight bookings online. Log in to My Trips, select the relevant booking and click on the Cancel button. <br>
                    • How is the cancellation fee charged? The cancellation fee will be charged once you want a refund after an air ticket is paid, it is made up of the fee charged from airlines and HappeEasyGo. HappeEasyGo put great effort and business costs just for guaranteeing to provide air tickets at the lowest price among all online travel agencies platforms. All cancellation fees charged by BoardTheTrip are depended on business development situations with different airlines and will be used for keep providing the lowest tickets. Here are the general rules of the cancellation fee charged by HEG . 1.Hours before take off：0-6H，Cancellation Fee Charged by HEG：Not able to request for refund 2.Hours before take off：>6H，Cancellation Fee Charged by HEG：INR 500 per passenger per sector <br>
                    • In case, you have the approval from the respective airline of full refund, you need to raise the online cancellation request on our website. NOTE: You need to attach the stamp copy, SMS or Email as a proof of documents for full refund. Post validation of documents, refund will be initiated. Convenience fee is non-refundable. <br>
                    • For offline Cancellation of your ticket, please call us on our 24*7 customer care number. Refund <br>
                    • Any refund request raised against cancellation will be processed as per the Airline & HEG refund policy. <br>
                    • All the cancellations made directly with the Airlines need to be informed to BOARDTHETRIP well in advance with valid documents to initiate the refund process. <br>
                    • In case of any cancellation and refund of partially utilized tickets upfront discount and promo code discount availed at the time of booking would be deducted from the refund amount. <br>
                    • The meal amount is non-refundable. <br>
                    • BOARDTHETRIP will initiate the customer's refund post receiving refund receipt and/or confirmation from the airline. <br>
                    • Refund would take up to 10-15 working days to get the amount credited in same mode of payment. <br>
                    • The refund amount is calculated on the basis of the booking policy, fare rules and restrictions of the airline. Refund amount may vary in your account. <br>
                    • In case customer’s booking does not get confirmed, the refund will be initiated within 7-10 working days in the same mode of payment. For any discrepancies or delays, you are advised to connect with the bank or credit card company. <br>
                    • Any refund request raised post the expiry of 90 days (travel date/ check-in), all the unclaimed amount in case of No-show or unutilized bookings will be forfeited. <br>
                    • In case the user cancelled their booking directly with the airlines, the user will need to inform Company with valid documentation to initiate the refund process. <br>
                    • Full refund requested due to Schedule change (When airlines changes time or cancels the flight) /Waiver cases / Death / Medical / Natural Calamities will be processed within 45-90 working days (Depending upon airlines approval). Note:-Airlines may take more than 90 days to approve / process full refund request. <br>
                    • Air Asia Refund would usually take 30-45 working days to get the amount credited in same mode of payment. <br>
                    • HEG will process refund as per normal cancellation charges if airlines denies to provide any approval for full refund requested. <br>
                    No Show • The airline reserves the rights to deny boarding for onward or return flight. In case the customer fails to board any of the sectors, BOARDTHETRIP will not be responsible for any No-Show / denial. <br>
                    • BOARDTHETRIP will not be responsible for any flight reschedule/cancellations by the airline. <br>
                    • All passenger(s) are requested to check flight timings from airline at least 24 hours prior to the flight departure. <br>
                    • In case of No Show for a flight（domestic/ International）, Not able to request for refund.</p>
                </section>
  
              </section>
            </div>
  
          </div>
        </div>
      </div>
    </div>

  
  