<style>
  * {
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, "Trebuchet MS", sans-serif;
  }
  body {
    background-color: rgb(255, 255, 255);
  }
  .tag {
    width: 70px !important;
    height: 25px !important;

    font-size: 14px;
    color: red;

    margin-top: 10px;
  }
  .dest > div:hover {
    background: #2f3268;
    color: white;
  }
  .purp3-1 {
    display: none;
  }
  .rht:hover {
    background-color: #ff4040 !important;
    color: white !important;
  }
  .rht:hover {
    background-color: #ff4040 !important;
    color: white !important;
  }
  .back:hover {
    background-color: #ff4040;
    color: white !important;
  }
  .hidden {
    display: none;
  }
</style>

<div class="px-1 w-100">
  <!-- heading -->
  <div class="mt-4 mx-2">
    <h2
      class="fw-bold"
      style="font-family: Calibri, 'Trebuchet MS', sans-serif; color: #2f3268"
    >
      Book International & Domestic Flights
    </h2>
  </div>

  <!-- journey types -->
  <div class="d-flex w-100 gap-3 mt-1">
    <div
      class="mt-4 shadow"
      style="
        width: 27%;
        height: 100px;
        background-color: #2f3268;
        border-radius: 8px 8px 8px 8px;
      "
    >
      <div
        class="border-bottom p-2 d-flex justify-content-between"
        style="height: 50px"
      >
        <div class="d-flex">
          <h4 class="text-white mt-1 ms-2" style="font-size: 20px">
            Journey Type
          </h4>
          <span class="material-symbols-outlined text-white mt-1">
            chevron_right
          </span>
        </div>
        <span class="text-white mt-1">{{ trip }}</span>
      </div>

        <!-- radio btn -->
      <div class="d-flex pt-2 justify-content-evenly">
        <div class="mx-1">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault1"
            (change)="option('One Way')"
            [checked]="trip == 'One Way' ? true : false"
          />
          <label
            class="form-check-label text-white"
            for="flexRadioDefault1"
            style="font-size: 14px"
          >
            One Way
          </label>
        </div>
        <div class="mx-1">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault2"
            (change)="option('Round Trip')"
            [checked]="trip == 'Round Trip'"
          />
          <label
            class="form-check-label text-white"
            for="flexRadioDefault2"
            style="font-size: 14px"
          >
            Round Trip
          </label>
        </div>
        <div class="mx-1">
          <label
            class="form-check-label text-white"
            for="flexRadioDefault3"
            style="font-size: 14px"
          >
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault3"
              (change)="option('Multi City')"
              [checked]="trip == 'Multi City'"
            />
            Multi City
          </label>
        </div>
      </div>
    </div>
  </div>
  
  <hr width="57%" />

  <div [ngSwitch]="trip">
    <app-enq-round
      *ngSwitchCase="'Round Trip'"
      [enqCust]="enq"
      [data]="trip"
    ></app-enq-round>
    <app-enq-oneway
      *ngSwitchCase="'One Way'"
      [enqCust]="enq"
      [data]="trip"
      [click]="clicked"
    ></app-enq-oneway>
    <app-enq-multiway
      *ngSwitchCase="'Multi City'"
      [enqCust]="enq"
      [data]="trip"
    ></app-enq-multiway>
  </div>
</div>
<!--left-end-->
