<body>
    <nav
      class="navbar fixed-top navbar-expand-lg navbar-light bg-light navbar-custom"
    >
      
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto navbar-rightside">

          <li class="nav-item navbar-listitem" style="margin-right: 351px;">
              <h1 style=" font-size: 1.625rem;">Airnet Travels & Cargo Pvt Ltd</h1>
          </li>

          <li class="nav-item navbar-listitem"  >
            <a
              class="text-white"
              style="
              border-radius: 5px;
              background-color: #e2472b;
              padding: 10px;
              width: 61px;
              height: 28px;
              font-size: 12px;
              font-weight: 600;
            "
              routerLink="/login"
              
              (click)="logout()"
              >
              <img src="../../../assets/img/brand/turn-off.png" alt="" height="18px" width="18px">
              Logout
              </a>
          </li>
         
        </ul>
      </div>
    </nav>
  </body>
  