<main>
    <nav id="sidebar">
        <h1
          style="
            font-size: 20px;
            text-align: center;
            text-decoration: underline;
            margin-bottom: 13px;
          "
        >
          Generate Your Itinerary
        </h1>
        <div class="container p-0">
          <div id="accordion">

            <!-- journey -->
            <div
              class="card"
              data-toggle="collapse"
              data-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              <div
                class="card-header p-2"
                id="headingOne"
                style="text-align: center"
              >
                <a
                  class="btn btn-link p-2 mb-0 dropdown-toggle"
                  style="
                    color: #323268;
                    font-family: 'Lato', sans-serif;
                    font-size: medium;
                  "
                  data-toggle="collapse"
                  data-target="#collapseOne "
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  Journey Type
                </a>
                <ng-container *ngIf="selectedCountry">
                  <p class="fw-bold py-2 px-2 m-0 text-dark">
                    {{ selectedCountry }}
                  </p>
                </ng-container>
              </div>
    
              <div
                id="collapseOne"
                class="collapse"
                aria-labelledby="headingOne"
                data-parent="#accordion"
              >
                <div class="container-fluid mt-2">
                  <div
                    class="row input shadow-sm"
                    style="
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      align-items: center;
                      text-align: center;
                      border-radius: 10px;
                    "
                  >
                    <div class="row" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; ">
                        <div class="item">
                            <input type="radio" name="journeyType" (change)="toggleJourney(1,$event.target.checked)" [checked]="journeyType === 1" >
                            <span>One Way</span>
                        </div>
                        <div class="item">
                            <input type="radio" name="journeyType" (change)="toggleJourney(2,$event.target.checked)" >
                            <span>Round Trip</span>
                        </div>
                        <div class="item">
                            <input type="radio" name="journeyType" (change)="toggleJourney(3,$event.target.checked)" >
                            <span>MultiCity</span>
                        </div>
                        <div class="item">
                            <input type="radio" name="journeyType" (change)="toggleJourney(4,$event.target.checked)" >
                            <span>Advance Search</span>
                        </div>
                    </div>
                  </div>
                  <div class="container">
                    <!-- <div class="row" *ngFor="let data of filteredData | slice:0:6">
                    <a class="btn btn-link " (click)="onCountrySelect(data)">{{ data }}</a>
                </div> -->
                    <div
                      class="row search"
                      style="
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                      "
                    >
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- continent -->
            <!-- <div
              class="card"
              data-toggle="collapse"
              data-target="#collapseOne"
              aria-expanded="false"
              aria-controls="collapseOne"
            >
              <div
                class="card-header p-2"
                id="headingOne"
                style="text-align: center"
              >
                <a
                  class="btn btn-link p-2 mb-0 dropdown-toggle"
                  style="
                    color: #323268;
                    font-family: 'Lato', sans-serif;
                    font-size: medium;
                  "
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  Select Continent
                </a>
                <ng-container *ngIf="selectedCountry">
                  <p class="fw-bold py-2 px-2 m-0 text-dark">
                    {{ selectedCountry }}
                  </p>
                </ng-container>
              </div>
    
              <div
                id="collapseOne"
                class="collapse"
                aria-labelledby="headingOne"
                data-parent="#accordion"
              >
                <div class="container-fluid mt-2">
                  <div
                    class="row input shadow-sm"
                    style="
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      align-items: center;
                      text-align: center;
                      border-radius: 10px;
                    "
                  >
                    <input
                      type="search"
                      id="form1"
                      class="form-control"
                      placeholder="Search your destination"
                      [(ngModel)]="searchText"
                      (click)="$event.stopPropagation()"
                      (input)="onSearchChange()"
                      aria-label="Search"
                      list="destinations"
                    />
                    <datalist id="destinations">
                      <ng-container *ngFor="let data of airportCodes">
                        <option
                          [value]="data"
                          class="text-dark"
                          style="color: black"
                        >
                        {{ data.cityName }} ({{ data.cityCode }}, {{ data.countryCode }})
                        </option>
                      </ng-container>
                    </datalist>
                  </div>
                  <div class="container">
                  
                    <div
                      class="row search"
                      style="
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                      "
                    >
                      <ul
                        class="scrollable-column text-dark mt-2 p-0"
                        style="list-style: none"
                        *ngIf="airportCodes"
                      >
                        <li
                          class="list text-dark fw-bold fs-5"
                          style="
                            list-style: none;
                            margin: 19px;
                            font-family: 'Nunito', sans-serif;
                            cursor: pointer;
                          "
                          *ngFor="let data of airportCodes | slice : 0 : 6"
                          (click)="onCountrySelect(data)"
                        >
                          {{ data }}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->

            <!-- Departure -->
            <div
              class="card"
              data-toggle="collapse"
              data-target="#collapse4"
              aria-expanded="false"
              aria-controls="collapse4"
            >
              <div
                class="card-header p-2"
                id="heading4"
                style="text-align: center"
              >
                <a
                  class="btn btn-link p-2 mb-0 dropdown-toggle"
                  style="
                    color: #323268;
                    font-family: 'Lato', sans-serif;
                    font-size: medium;
                  "
                  data-toggle="collapse"
                  data-target="#collapse3"
                  aria-expanded="true"
                  aria-controls="collapse3"
                >
                  Departure Airport
                </a>
                <ng-container *ngIf="selectedAirport">
                  <p class="fw-bold py-2 px-2 m-0 text-dark">
                    {{ selectedAirport }}
                  </p>
                </ng-container>
              </div>
              <div
                id="collapse4"
                class="collapse"
                aria-labelledby="heading4"
                data-parent="#accordion"
              >
                <div class="container-fluid mt-2">
                  <div
                    class="row input shadow-sm"
                    style="
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      align-items: center;
                      text-align: center;
                      border-radius: 10px;
                    "
                  >
                    <input
                      type="search"
                      id="form1"
                      class="form-control"
                      placeholder="Search Airports"
                      [(ngModel)]="searchText1"
                      (click)="$event.stopPropagation()"
                      (input)="onSearchChange1()"
                      aria-label="Search"
                    />
                    <datalist id="airport">
                      <ng-container *ngFor="let data of airportCodes">
                        <option
                          [value]="data?.cityName"
                          class="text-dark"
                          style="color: black"
                        >
                        {{ data.cityName }} ({{ data.cityCode }}, {{ data.countryCode }})
                        </option>
                      </ng-container>
                    </datalist>
                  </div>
                  <div class="container">
                    <div
                      class="row search"
                      style="
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                        max-height: 400px;
                        overflow-y: scroll;
                      "
                    >
                      <ul
                        class="scrollable-column text-dark mt-2 p-0"
                        style="list-style: none"
                        *ngIf="airportCodes"
                      >
                        <li
                          class="list text-dark fw-bold fs-5"
                          style="
                            list-style: none;
                            margin: 19px;
                            font-family: 'Nunito', sans-serif;
                            cursor: pointer;
                          "
                          *ngFor="let airport of filteredAirports "
                          (click)="onAirportSelect(airport)"
                        >
                        {{ airport.cityName }} ({{ airport.cityCode }}, {{ airport.countryCode }})
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- destination -->
            <div
              class="card"
              data-toggle="collapse"
              data-target="#collapse6"
              aria-expanded="false"
              aria-controls="collapse6"
            >
              <div
                class="card-header p-2"
                id="heading6"
                style="text-align: center"
              >
                <a
                  class="btn btn-link p-2 mb-0 dropdown-toggle"
                  style="
                    color: #323268;
                    font-family: 'Lato', sans-serif;
                    font-size: medium;
                  "
                  data-toggle="collapse"
                  data-target="#collapse6"
                  aria-expanded="true"
                  aria-controls="collapse6"
                >
                  Select Destination
                </a>
                <ng-container *ngFor="let cityName of selectedCities">
                  <p class="fw-bold py-2 px-2 m-0 text-dark">{{ cityName }}</p>
                </ng-container>
              </div>
              <div
                id="collapse6"
                class="collapse"
                aria-labelledby="heading6"
                data-parent="#accordion"
              >
                <div class="card-body" (click)="$event.stopPropagation()">
                  <div
                    class="container pt-3"
                    style="font-family: 'Lato', sans-serif"
                  >
                    <div
                      class="row input shadow-sm"
                      style="
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        border-radius: 10px;
                      "
                    >
                      <input
                        type="search"
                        id="form1"
                        class="form-control"
                        placeholder="Find any city"
                        [(ngModel)]="searchText2"
                        (click)="$event.stopPropagation()"
                        (change)="onSearchCity()"
                        aria-label="Search"
                        list="cityOptions"
                      />
                      <datalist id="cityOptions">
                        <ng-container *ngFor="let airport of airportCodes">
                          <option
                            [value]="airport?.cityName"
                            class="text-dark"
                            style="color: black"
                          >
                          {{ airport?.cityName }} ({{ airport?.cityCode }}, {{ airport?.countryCode }})
                          </option>
                        </ng-container>
                      </datalist>
                    </div>
                  </div>
    
                  <div class="container mt-3">
                    <p
                      class="fs-4 text-center text-dark mb-0"
                      style="font-family: 'Lato', sans-serif"
                    >
                      Cities best connected to
                      <span *ngIf="selectedCountry"> {{ selectedCountry }}</span
                      >...
                    </p>
                  </div>
    
                  <!-- <div class="container" >
              <div class="row search" style=" list-style: none; display: flex; flex-direction: column; justify-content: start;" >
                <ul class="scrollable-column text-dark mt-2 p-0" style="list-style: none" *ngIf="filteredCities.length > 0" >
                  <li class="list text-dark fw-bold fs-5" style="list-style: none; margin: 19px; font-family: 'Nunito', sans-serif; cursor: pointer;" *ngFor="let city of filteredCities | slice:0:6" (click)="onCitySelect(city)"> {{ city }} </li>
                </ul>
                </div>
            </div> -->
    
                  <div class="container">
                    <div class="scrollable-list">
                      <ul
                        class="scrollable-column text-dark mt-2 p-0"
                        style="list-style: none"
                      >
                        <li
                          class="list text-dark fw-bold fs-5"
                          style="
                            list-style: none;
                            margin: 19px;
                            font-family: 'Nunito', sans-serif;
                            cursor: pointer;
                          "
                          *ngFor="let airport of filteredCities | slice : 0 : 6"
                          (click)="onCitySelect(airport?.cityName)"
                        >
                          {{ airport?.cityName }}
                        </li>
                        <li
                          class="list text-dark fw-bold fs-5"
                          style="
                            list-style: none;
                            margin: 19px;
                            font-family: 'Nunito', sans-serif;
                            cursor: pointer;
                          "
                          *ngFor="let city of airportCodes"
                          (click)="onCitySelect(city?.cityName)"
                        >
                          {{ city?.cityName }}
                        </li>
                      </ul>
                    </div>
                  </div>
    
                  <hr class="p-0 m-0" />
    
                  <!-- <div class="container" >
              <p class="fs-4 text-center text-dark my-3" style="font-family: 'Lato', sans-serif">
                Selected Cities
              </p>
              <div class="row search" style=" list-style: none; display: flex; flex-direction: column; justify-content: start;" >
                <ul class="scrollable-column text-dark mt-0 p-0" style="list-style: none" *ngIf="selectedCities.length > 0"  >
                  <li class="list text-dark fw-bold fs-5" style="list-style: none; margin: 19px; font-family: 'Nunito', sans-serif; " *ngFor="let cityName of selectedCities"> {{ cityName }} </li>
                </ul>
                </div>
            </div> -->
    
                  <!-- <button type="button" class="btn text-white" style="background-color: #323268; text-align: center;" (click)="buildItinerary()" > Build itinerary </button> -->
                  <!-- <div class="m-2" style="text-align: end;">
              <button type="button" class="btn text-white fw-bold p-2 " style="background-color: #323268" data-bs-dismiss="modal" (click)="noOfTraveler(typeNumber.value)" > Save </button>
            </div> -->
                </div>
              </div>
            </div>
    
            <!-- date -->
            <div
              class="card"
              data-toggle="collapse"
              data-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              <div
                class="card-header p-2"
                id="headingTwo"
                style="text-align: center"
              >
                <a
                  class="btn btn-link p-2 mb-0 dropdown-toggle"
                  style="
                    color: #323268;
                    font-family: 'Lato', sans-serif;
                    font-size: medium;
                  "
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="true"
                  aria-controls="collapseTwo"
                >
                  Date Range
                </a>
                <ng-container *ngIf="selectedStartDate">
                  <p class="fw-bold py-2 px-2 m-0 text-dark">
                    {{ selectedStartDate }} - {{ selectedEndDate }}
                  </p>
                </ng-container>
              </div>
    
              <div
                id="collapseTwo"
                class="collapse"
                #collapseTwoElement
                aria-labelledby="headingTwo"
                data-parent="#accordion"
              >
                <div class="card-body">
                  <form class="row row-cols-sm-auto">
                    <div class="col-12">
                      <form class="row row-cols-sm-auto">
                        <div class="col-12">
                          <div class="dp-hidden position-absolute">
                            <div
                              class="input-group"
                              (click)="$event.stopPropagation()"
                            >
                              <input
                                name="datepicker"
                                class="form-control"
                                ngbDatepicker
                                #datepicker="ngbDatepicker"
                                [autoClose]="'outside'"
                                (dateSelect)="onDateSelection($event)"
                                [displayMonths]="1"
                                [dayTemplate]="t"
                                outsideDays="hidden"
                                [startDate]="fromDate!"
                                tabindex="-1"
                              />
                              <ng-template
                                #t
                                let-date
                                let-focused="focused"
                                (click)="$event.stopPropagation()"
                              >
                                <span
                                  class="custom-day"
                                  [class.focused]="focused"
                                  [class.range]="isRange(date)"
                                  [class.faded]="
                                    isHovered(date) || isInside(date)
                                  "
                                  (mouseenter)="hoveredDate = date"
                                  (mouseleave)="hoveredDate = null"
                                >
                                  {{ date.day }}
                                </span>
                              </ng-template>
                            </div>
                          </div>
                          <div
                            class="input-group"
                            (click)="$event.stopPropagation()"
                          >
                            <input
                              #dpFromDate
                              class="form-control"
                              placeholder="yyyy-mm-dd"
                              name="dpFromDate"
                              [value]="formatter.format(fromDate)"
                              (input)="
                                fromDate = validateInput(
                                  fromDate,
                                  dpFromDate.value
                                )
                              "
                            />
                            <button
                              class="btn btn-outline-dark bi bi-calendar3"
                              (click)="datepicker.toggle()"
                              type="button"
                            ></button>
                          </div>
                        </div>
                        <ng-template #t let-date let-focused="focused">
                          <span
                            class="custom-day"
                            [class.focused]="focused"
                            [class.range]="isRange(date)"
                            [class.faded]="isHovered(date) || isInside(date)"
                            (mouseenter)="hoveredDate = date"
                            (mouseleave)="hoveredDate = null"
                            >{{ date.day }}
                          </span>
                        </ng-template>
                      </form>
                    </div>
                  </form>
                </div>
              </div>
            </div>
    
    <!-- fare -->
            <div
              class="card"
              data-toggle="collapse"
              data-target="#collapse7"
              aria-expanded="false"
              aria-controls="collapse7"
            >
              <div
                class="card-header p-2"
                id="heading7"
                style="text-align: center"
              >
                <a
                  class="btn btn-link p-2 mb-0 dropdown-toggle"
                  style="
                    color: #323268;
                    font-family: 'Lato', sans-serif;
                    font-size: medium;
                  "
                  data-toggle="collapse"
                  data-target="#collapse3"
                  aria-expanded="true"
                  aria-controls="collapse3"
                >
                  Fare Type
                </a>
                <ng-container *ngIf="selectedNature">
                  <p class="fw-bold py-2 px-2 m-0 text-dark">
                    {{ selectedNature }}
                  </p>
                </ng-container>
              </div>
              <div
                id="collapse7"
                class="collapse"
                aria-labelledby="heading7"
                data-parent="#accordion"
              >
                <div class="card-body">
                  <form action="/action_page.php">
                    <div class="form-check mb-2">
                      <label class="form-check-label text-dark">
                        <input
                          type="radio"
                          class="form-check-input"
                          name="optradio"
                          value="Couple"
                          (click)="selectFareType(2,$event.target.checked)"
                          [checked]="fareType===2"
                        />
                        RegularFare
                      </label>
                    </div>
                    <div class="form-check mb-2">
                      <label class="form-check-label text-dark">
                        <input
                          type="radio"
                          class="form-check-input"
                          name="optradio"
                          value="Family"
                          (change)="selectFareType(3,$event.target.checked)"
                        />
                        Student Fare
                      </label>
                    </div>
                    <div class="form-check mb-2">
                      <label class="form-check-label text-dark">
                        <input
                          type="radio"
                          class="form-check-input"
                          name="optradio"
                          value="Friends"
                          (click)="selectFareType(4,$event.target.checked)"
                        />
                        Armed Force
                      </label>
                    </div>
                    <div class="form-check mb-2">
                      <label class="form-check-label text-dark">
                        <input
                          type="radio"
                          class="form-check-input"
                          name="optradio"
                          value="Solo"
                          (click)="selectFareType(5,$event.target.checked)"
                        />
                        Senior Citizen
                      </label>
                    </div>
                  </form>
                </div>
              </div>
            </div>
    
            <!-- travellers -->
            <div
              class="card"
              data-toggle="collapse"
              data-target="#collapse5"
              aria-expanded="false"
              aria-controls="collapse5"
            >
              <div
                class="card-header p-2"
                id="heading5"
                style="text-align: center"
              >
                <a
                  class="btn btn-link p-2 mb-0 dropdown-toggle"
                  style="
                    color: #323268;
                    font-family: 'Lato', sans-serif;
                    font-size: medium;
                  "
                  data-toggle="collapse"
                  data-target="#collapse5"
                  aria-expanded="true"
                  aria-controls="collapse5"
                >
                  No of Travelers
                </a>
                <ng-container
                  *ngIf="
                    adultsValue !== undefined &&
                    adultsValue !== null &&
                    adultsValue !== 0
                  "
                >
                  <p class="fw-bold py-2 px-2 m-0 text-dark">
                    {{ adultsValue }} Adult & {{ childrenValue }} Children
                  </p>
                </ng-container>
              </div>
              <div
                id="collapse5"
                class="collapse"
                aria-labelledby="heading5"
                data-parent="#accordion"
              >
                <div class="card-body p-0">
                  <div
                    class="container-fluid my-3"
                    (click)="$event.stopPropagation()"
                  >
                    <div class="row">
                      <div class="col-md-12 col-lg-4">
                        <label
                          style="font-family: 'Lato', sans-serif"
                          class="text-dark"
                          >Adults</label
                        >
                      </div>
                      <div class="col-md-12 col-lg-6">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <button
                              class="btn btn-sm btn-outline-dark fs-3 fw-bold px-2 py-1"
                              style="border-radius: 5px"
                              type="button"
                              (click)="decAdultCount()"
                            >
                              -
                            </button>
                          </span>
                          <input
                            id="typeNumber"
                            class="form-control py-0 px-4"
                            style="border: none"
                            [formControl]="numberFormControl"
                            #typeNumber
                          />
                          <span class="input-group-btn ms-2">
                            <button
                              class="btn btn-sm btn-outline-dark fs-3 fw-bold px-2 py-1"
                              style="border-radius: 5px"
                              type="button"
                              (click)="incAdultCount()"
                            >
                              +
                            </button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="container-fluid my-3"
                    (click)="$event.stopPropagation()"
                  >
                    <div class="row">
                      <div class="col-4">
                        <label
                          style="font-family: 'Lato', sans-serif"
                          class="text-dark"
                          >Infant</label
                        >
                      </div>
                      <div class="col-6">
                        <div class="input-group">
                          <span class="input-group-btn">
                            <button
                              class="btn btn-sm btn-outline-dark fs-3 fw-bold px-2 py-1"
                              style="border-radius: 5px"
                              type="button"
                              (click)="decInfantCount()"
                            >
                              -
                            </button>
                          </span>
                          <input
                            id="typeNumber"
                            class="form-control py-0 px-4"
                            style="border: none"
                            [formControl]="numberFormControl1"
                            #typeNumber
                          />
                          <span class="input-group-btn ms-2">
                            <button
                              class="btn btn-sm btn-outline-dark fs-3 fw-bold px-2 py-1"
                              style="border-radius: 5px"
                              type="button"
                              (click)="incInfantCount()"
                            >
                              +
                            </button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="container-fluid my-1"
                    (click)="$event.stopPropagation()"
                  >
                    <div class="row">
                      <div class="col-4">
                        <label
                          style="font-family: 'Lato', sans-serif"
                          class="text-dark mt-1"
                          >Children</label
                        >
                      </div>
                      <div class="col-6">
                        <div class="row">
                          <div class="col-9">
                            <div class="input-group">
                              <input
                                id="ageInput"
                                class="form-control px-2 py-1"
                                [(ngModel)]="ageInputValue"
                                placeholder="Enter age"
                              />
                            </div>
                          </div>
                          <div class="col-3 p-0">
                            <button
                              class="btn btn-sm btn-outline-dark fs-3 fw-bold px-2 py-1"
                              style="border-radius: 5px"
                              type="button"
                              (click)="incChildCount()"
                              [disabled]="!ageInputValue"
                            >
                              +
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br />
                  <!-- <div class="m-2" style="text-align: end;">
            <button type="button" class="btn text-white fw-bold p-2 " style="background-color: #323268" data-bs-dismiss="modal" (click)="noOfTraveler(typeNumber.value)" > Save </button>
          </div> -->
                  <h4 class="text-muted mx-3 lowercase">
                    * No of Children: {{ noOfChildren }}
                  </h4>
                </div>
              </div>
            </div>
    
            <!-- <div
              class="card"
              data-toggle="collapse"
              data-target="#collapse8"
              aria-expanded="false"
              aria-controls="collapse8"
            >
              <div
                class="card-header p-2"
                id="heading8"
                style="text-align: center"
              >
                <a
                  class="btn btn-link p-2 mb-0 dropdown-toggle"
                  style="
                    color: #323268;
                    font-family: 'Lato', sans-serif;
                    font-size: medium;
                  "
                  data-toggle="collapse"
                  data-target="#collapse8"
                  aria-expanded="true"
                  aria-controls="collapse8"
                >
                  Select Hotel
                </a>
                <ng-container
                  *ngIf="selectedStar || selectedProperty || selectedPrice"
                >
                  <p class="fw-bold py-2 px-2 m-0 text-dark">
                    {{ selectedPrice }}
                  </p>
                  <p class="fw-bold py-2 px-2 m-0 text-dark">
                    {{ selectedStar }} {{ selectedProperty }}
                  </p>
                </ng-container>
              </div>
              <div
                id="collapse8"
                class="collapse"
                aria-labelledby="heading8"
                data-parent="#accordion"
              >
                <div class="card-body" (click)="$event.stopPropagation()">
                  <div class="container">
                    <p
                      class="fs-3 text-center text-dark"
                      style="font-family: 'Lato', sans-serif"
                    >
                      Price per night
                    </p>
                  </div>
                  <form action="/action_page.php">
                    <div class="form-check mb-2">
                      <label class="form-check-label text-dark">
                        <input
                          type="radio"
                          class="form-check-input"
                          name="optradio"
                          value="₹ 0 - ₹ 3000"
                          (click)="selectPrice('₹ 0 - ₹ 3000')"
                        />
                        ₹ 0 - ₹ 3000
                      </label>
                    </div>
                    <div class="form-check mb-2">
                      <label class="form-check-label text-dark">
                        <input
                          type="radio"
                          class="form-check-input"
                          name="optradio"
                          value="₹ 3000 - ₹ 6000"
                          (click)="selectPrice('₹ 3000 - ₹ 6000')"
                        />
                        ₹ 3000 - ₹ 6000
                      </label>
                    </div>
                    <div class="form-check mb-2">
                      <label class="form-check-label text-dark">
                        <input
                          type="radio"
                          class="form-check-input"
                          name="optradio"
                          value="₹ 6000 - ₹ 8500"
                          (click)="selectPrice('₹ 6000 - ₹ 8500')"
                        />
                        ₹ 6000 - ₹ 8500
                      </label>
                    </div>
                    <div class="form-check mb-2">
                      <label class="form-check-label text-dark">
                        <input
                          type="radio"
                          class="form-check-input"
                          name="optradio"
                          value="₹ 8500 - ₹ 10500"
                          (click)="selectPrice('₹ 8500 - ₹ 10500')"
                        />
                        ₹ 8500 - ₹ 10500
                      </label>
                    </div>
                    <div class="form-check mb-2">
                      <label class="form-check-label text-dark">
                        <input
                          type="radio"
                          class="form-check-input"
                          name="optradio"
                          value="₹ 10500 - ₹ 14500"
                          (click)="selectPrice('₹ 10500 - ₹ 14500')"
                        />
                        ₹ 10500 - ₹ 14500
                      </label>
                    </div>
                    <div class="form-check mb-2">
                      <label class="form-check-label text-dark">
                        <input
                          type="radio"
                          class="form-check-input"
                          name="optradio"
                          value="₹ 14500 - ₹ 15000"
                          (click)="selectPrice('₹ 14500 - ₹ 15000')"
                        />
                        ₹ 14500 - ₹ 15000
                      </label>
                    </div>
                    <div class="form-check mb-2">
                      <label class="form-check-label text-dark">
                        <input
                          type="radio"
                          class="form-check-input"
                          name="optradio"
                          value="₹ 15000 - ₹ 30000"
                          (click)="selectPrice('₹ 15000 - ₹ 30000')"
                        />
                        ₹ 15000 - ₹ 30000
                      </label>
                    </div>
                    <div class="form-check mb-2">
                      <label class="form-check-label text-dark">
                        <input
                          type="radio"
                          class="form-check-input"
                          name="optradio"
                          value="₹ 30000 +"
                          (click)="selectPrice('₹ 30000 +')"
                        />
                        ₹ 30000 +
                      </label>
                    </div>
                  </form>
                </div>
                <hr class="m-0" />
                <div class="card-body" (click)="$event.stopPropagation()">
                  <div class="container">
                    <p
                      class="fs-3 text-center text-dark"
                      style="font-family: 'Lato', sans-serif"
                    >
                      Star Category
                    </p>
                  </div>
                  <form action="/action_page.php">
                    <div class="form-check mb-2">
                      <label class="form-check-label text-dark">
                        <input
                          type="radio"
                          class="form-check-input"
                          name="optradio"
                          value="3 Star"
                          (click)="selectStar('3 Star')"
                        />
                        3 Star
                      </label>
                    </div>
                    <div class="form-check mb-2">
                      <label class="form-check-label text-dark">
                        <input
                          type="radio"
                          class="form-check-input"
                          name="optradio"
                          value="4 Star"
                          (click)="selectStar('4 Star')"
                        />
                        4 Star
                      </label>
                    </div>
                    <div class="form-check mb-2">
                      <label class="form-check-label text-dark">
                        <input
                          type="radio"
                          class="form-check-input"
                          name="optradio"
                          value="5 Star"
                          (click)="selectStar('5 Star')"
                        />
                        5 Star
                      </label>
                    </div>
                  </form>
                </div>
                <hr class="m-0" />
                <div class="card-body">
                  <div class="container">
                    <p
                      class="fs-3 text-center text-dark"
                      style="font-family: 'Lato', sans-serif"
                    >
                      Property Type
                    </p>
                  </div>
                  <form action="/action_page.php">
                    <div class="form-check mb-2">
                      <label class="form-check-label text-dark">
                        <input
                          type="radio"
                          class="form-check-input"
                          name="optradio"
                          value="Guest House"
                          (click)="selectProperty('Guest House')"
                        />
                        Guest House
                      </label>
                    </div>
                    <div class="form-check mb-2">
                      <label class="form-check-label text-dark">
                        <input
                          type="radio"
                          class="form-check-input"
                          name="optradio"
                          value="Hotel"
                          (click)="selectProperty('Hotel')"
                        />
                        Hotel
                      </label>
                    </div>
                    <div class="form-check mb-2">
                      <label class="form-check-label text-dark">
                        <input
                          type="radio"
                          class="form-check-input"
                          name="optradio"
                          value="Homestay"
                          (click)="selectProperty('Homestay')"
                        />
                        Homestay
                      </label>
                    </div>
                    <div class="form-check mb-2">
                      <label class="form-check-label text-dark">
                        <input
                          type="radio"
                          class="form-check-input"
                          name="optradio"
                          value="Resort"
                          (click)="selectProperty('Resort')"
                        />
                        Resort
                      </label>
                    </div>
                    <div class="form-check mb-2">
                      <label class="form-check-label text-dark">
                        <input
                          type="radio"
                          class="form-check-input"
                          name="optradio"
                          value="Apartment"
                          (click)="selectProperty('Apartment')"
                        />
                        Apartment
                      </label>
                    </div>
                    <div class="form-check mb-2">
                      <label class="form-check-label text-dark">
                        <input
                          type="radio"
                          class="form-check-input"
                          name="optradio"
                          value="Villa"
                          (click)="selectProperty('Villa')"
                        />
                        Villa
                      </label>
                    </div>
                  </form>
                </div>
              </div>
            </div>
     -->
           
       
    
            <div class="py-4" style="text-align: center">
              <button
                type="button"
                class="btn text-white"
                style="background-color: #323268; text-align: center"
                (click)="buildItinerary()"
              >
                Build itinerary
              </button>
            </div>
          </div>
        </div>
      </nav>
</main>