
  <div class="containers" *ngIf="dialog" >
    <div class="sub-container" (click)="close()"></div>
    <div class="card-bodys" style="z-index: 99999999999;">
        <div class="title">
            <h3>Hotel Data</h3>
            <h3 (click)="close()">X</h3>
        </div>
        <div class="boxs">
            <div class="box1">

                          <!-- Star Rating -->
              <div class="rating">
                <span style="font-weight: 600;color: black;">Star Rating</span>
                <div class="checkbox1">
                  <input type="checkbox" [ngModel]="threeStarRating" (ngModelChange)="onStarCheckboxChange('threeStarRating', $event)" />
                  <span>3 Star</span>
                </div>
                <div class="checkbox1">
                  <input type="checkbox" [ngModel]="fourStarRating" (ngModelChange)="onStarCheckboxChange('fourStarRating', $event)" />
                  <span>4 Star</span>
                </div>
                <div class="checkbox1">
                  <input type="checkbox" [ngModel]="fiveStarRating" (ngModelChange)="onStarCheckboxChange('fiveStarRating', $event)" />
                  <span>5 Star</span>
                </div>
              </div>

              <!-- User Rating -->
              <div class="user-rating">
                <span style="font-weight: 600;color: black;">User Rating</span>
                <div class="checkbox1">
                  <input type="checkbox" [ngModel]="threeUserRating" (ngModelChange)="onUserCheckboxChange('threeUserRating', $event)" />
                  <span>3+</span>
                </div>
                <div class="checkbox1">
                  <input type="checkbox" [ngModel]="fourUserRating" (ngModelChange)="onUserCheckboxChange('fourUserRating', $event)" />
                  <span>4+</span>
                </div>
                <div class="checkbox1">
                  <input type="checkbox" [ngModel]="fourPlusTwoUserRating" (ngModelChange)="onUserCheckboxChange('fourPlusTwoUserRating', $event)" />
                  <span>4.2+</span>
                </div>
              </div>

            </div>
            <div class="box2">
                <div class="box-containers" style="width: 100%;">
                    <div *ngIf="allHotels">
                      <ng-container *ngFor="let hotels of filteredHotels;"> 
                        
                        <ng-container *ngIf="hotels?.cityName===city?.cityName && hotels.checkInDate===checkInDate">
                         
                          <div class="cards" *ngFor="let hotel of hotels?.Response; let i = index"
                          [ngClass]="{ 'selected': isSelectedHotel(hotel) || hotel?.search?.HotelName === hotelName }"
                          (click)="selectHotel(hotel)">
                        
                            <div class="left">
                              <img src="{{hotel?.search?.HotelPicture}}" />
                            </div>
                            <div class="middle">
                              <div>
                                <div style="width: 300px; height: 75px; padding: 0; padding-left: 10px; display: flex; flex-direction: column;">
                                  <h4>{{hotel?.search?.HotelName}}</h4>
                                  <small>{{hotels?.cityName}}</small>
                                  <small style="text-decoration: underline;" >Select Rooms</small>
                                </div>
                               
                              
                                  
                                  
                                  
                                <div style="padding: 0; padding-left: 10px;">
                    
                                    <div class="d-flex" style="justify-content: flex-start; padding: 0; width: 100%; font-weight: bold;" *ngIf="hotel?.info?.HotelInfoResult?.HotelDetails?.HotelFacilities?.length > 2; else lessThanThreeFacilities">
                                        <p style="font-size: 0.7rem;">{{hotel?.info?.HotelInfoResult?.HotelDetails?.HotelFacilities[0]}} |</p>
                                        <p style="font-size: 0.7rem;">{{hotel?.info?.HotelInfoResult?.HotelDetails?.HotelFacilities[1]}}</p>
                                    </div> 
                                    <ng-template #lessThanThreeFacilities>
                                        <p style="font-size: 0.7rem;">
                                          {{hotel?.info?.HotelInfoResult?.HotelDetails?.HotelFacilities?.[0]?.substring(0, 20)}}
                                          {{hotel?.info?.HotelInfoResult?.HotelDetails?.HotelFacilities?.[0]?.length > 20 ? '...' : ''}}
                                        </p>
                                      </ng-template>
                                      
                                    
                                    <small>
                                        <span *ngIf="hotel?.search?.StarRating; else noStars">
                    
                                            
                                            <span class="star" *ngFor="let star of getStarArray(hotel?.search?.StarRating)">&#9733;</span>
                                          </span>
                                        <ng-template #noStars>
                    
                                       
                                         <span>{{hotel?.info?.HotelInfoResult?.HotelDetails?.StarRating}}</span> 
                                          No star rating available
                                        </ng-template>
                                      </small>
                                      
                                      
                                </div>
                              </div>
                    
                              <div class="price" style="width: 100%; justify-content: space-around;">
                                <div class="d-flex" style="justify-content: flex-end; width: 100%; flex-direction: column; padding: 0;">
                                    <ng-container *ngIf="hotel?.search?.TripAdvisor?.Rating">
                                      <span class="append-rating">{{hotel?.search?.TripAdvisor?.Rating}}</span>
                                    <span style="font-size: 0.8rem;">(Ratings)</span>
                                    </ng-container>
                                </div>
                                <div class="d-flex" style="flex-direction: column; padding: 0;">
                                    <p style="font-weight: 800; color: black;">₹{{hotel?.search?.Price?.PublishedPrice}}</p>
                                    <small style="color: black;">includes only hotel stay</small>
                                    <small style="color: black;">₹{{hotel?.search?.Price?.AgentCommission}} incentives</small>
                                </div>
                                
                              </div>
                            </div>
                         
                          
                        </div>
                        </ng-container>
                        
                      </ng-container>
                     
                      <div class="d-flex btn btn-secondary" style="justify-content: center; align-items: center; padding-top: 20px;">
                        <button  (click)="loadMoreData()">Load More</button>

                      </div>
                    </div>
                  </div>
            </div>
            
       
        </div>

               
        <div class="buttons">
            <div>
                <button class="btn btn-danger" style="padding: 6px;" (click)="addToItinerary()"><span>Add to itenary</span></button>
                <button class="btn btn-secondary" style="padding: 6px;" (click)="close()"><span>Cancel</span></button>
            </div>
           
        </div>
        
    </div>

   
    
</div>




