
<main>
  <!-- the main landing page -->
  <div class="landing-main">
    <div class="landing-left">
      <div class="bg-green-600" >
        <h1 class="text-6xl border border-red-500 font-bold underline">
          Hello world!
        </h1>
      </div>
      
      <h1>
        <span style="color: #bf7408" class="text-5xl" >AI Travel Platform</span>
        for instant client conversion
      </h1>
      <p>Agency CRM <span> | </span> Automated Itinerary | Hotels | Flights</p>
      <div class="main-btns-flexbox">
        <button class="btn-main-demo" (click)="NavigateToContact()">
          Request Demo
        </button>
        <button class="btn-main-tryNow">Try Now</button>
      </div>
    </div>
    <div class="landing-right">
      <img src="../../../assets/img/brand/landing-page.png" alt="" />
    </div>
  </div>

  <!-- second  Graph SECTION-->
  <div class="second-mainPage">
    <div class="second-leftSide">
      <h1>"Turn Things Around For Your Travel Business!"</h1>
      <p>
        Conventional Travel Companies Have Been Around Forever, & With Depleting
        Market Share, Its Time To Turn Things Around With Technology!
      </p>
    </div>
    <div class="second-rightSide">
      <img src="../../../assets/img/brand/graph.png" alt="Market graph" />
    </div>
  </div>

  <!-- third  STEPS-->
  <div class="third-mainPage">
    <h2>Convert Your Client <span style="color: #120c8b">In 5 Mins!</span></h2>
    <div class="all-steps-flexbox">
      <div class="step-flexbox">
        <div class="steps">
          <h2>Step 1</h2>
        </div>
        <div class="steps-img">
          <img
            src="../../../assets/img/brand/1.jpg"
            alt=""
          
          />
        </div>
        <p>Generate Personalised AI Travel Itineraries For Your Clients!</p>
      </div>
      <div class="step-flexbox">
        <div class="steps">
          <h2>Step 2</h2>
        </div>
        <div class="steps-img">
          <img
            src="../../../assets/img/brand/2.jpg"
            alt=""
         
          />
        </div>
        <p>
          Convert Your Itinerary Into A Realtime Package At a click of a button!
        </p>
      </div>
      <div class="step-flexbox">
        <div class="steps">
          <h2>Step 3</h2>
        </div>
        <div class="steps-img">
          <img
            src="../../../assets/img/brand/3.jpg"
            alt=""
        
          />
        </div>
        <p>
          Share The Realtime Package With Your Client & Collect Payment Online,
          From Anywhere!
        </p>
      </div>
    </div>

    <!-- <div class="all-steps-flexbox">

        <div class="steps-order">
          <h2>Step 1</h2>
          <h2>Step 2</h2>
          <h2>Step 3</h2>
        </div>

      <img src="../../../assets/img/brand/newpsd3.jpg" alt="" height="540px"  width="100%">
    
      <div class="steps-description">
        <p>
          Generate Personalised AI Travel Itineraries For Your Clients!
        </p>
        <p>
          Convert Your Itinerary Into A Realtime Package At a click of a button!
        </p>
        <p>
          Share The Realtime Package With Your Client & Collect Payment
          Online, From Anywhere!
        </p>

      </div>
    </div> -->
  </div>

  <!-- fifth  STATS STRIP -->
  <div class="fifth-mainPage">
    <div class="stats-strip">
      <div class="stats-division">
        <img src="../../../assets/img/brand/hotel_6030435.png " alt="" />
        <div class="stats-p">
          <p>10 LAC+</p>
          <p>Hotels</p>
        </div>
      </div>
      <div class="stats-division">
        <img
          src="../../../assets/img/brand/travel-journal_7434205.png "
          alt=""
        />
        <div>
          <p>2500+ Itineraries</p>
          <p>Generated</p>
        </div>
      </div>
      <div class="stats-division">
        <img
          src="../../../assets/img/brand/airplane_1350222.png "
          alt=""
          style="padding-right: 4px"
        />
        <div>
          <p>15+</p>
          <p>Airlines</p>
        </div>
      </div>
      <div class="stats-division">
        <img src="../../../assets/img/brand/dollar-symbol_2150264.png" alt="" />

        <div>
          <p>3 Crore+</p>
          <p>Annual GMV</p>
        </div>
      </div>
    </div>
  </div>

  <!-- sixth TESTIMONIALS -->

  <div class="sixth-mainPage">
    <section class="testimonial text-center">
      <div class="container">
        <div class="heading testimonial-heading">
          Don't Take Our Word For It...
        </div>
        <div
          id="testimonial4"
          class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x"
          data-ride="carousel"
          data-pause="hover"
        >
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="testimonial4_slide">
                <img
                  src="../../../assets/img/brand/t2.png"
                  class="img-circle img-responsive"
                />
                <p>
                  "After the pandemic, so many travel businesses shut, that we
                  became skeptical about our infrastructural investments in the
                  Travel Business! RouteMaestro was a smart choice for a company
                  of our size & reduced our infrastructural expenses by a HUGE
                  HUGE margin."
                </p>
                <div class="testimonial-author">
                  <h4>Mrs. Amrita</h4>
                  <p>Travel Consultant, Ex-Amex, Lufthansa , 30+ Years</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial4_slide">
                <img
                  src="../../../assets/img/brand/t1.png"
                  class="img-circle img-responsive"
                />
                <p>
                  ""I felt it took our staff 2-3 days to try and convert an
                  enquiry, and not to the expectation of the client when it came
                  to professionalism & inventory!Moreover, the monthly
                  expenditure was making us bleed further!""
                </p>
                <div class="testimonial-author">
                  <h4>Mr. Gurjit</h4>
                  -
                  <p>Airnet Travels & Cargo, Ludhiana, Punjab</p>
                </div>
              </div>
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#testimonial4"
            data-slide="prev"
          >
            <img src="../../../assets/img/brand/left-arrow_271220.png" alt="" />
          </a>
          <a
            class="carousel-control-next"
            href="#testimonial4"
            data-slide="next"
          >
            <img
              src="../../../assets/img/brand/right-arrow_271228 (1).png"
              alt=""
            />
          </a>
        </div>
      </div>
    </section>
  </div>

  <!-- seventh WHY TO USE  -->
  <div class="seventh-mainPage">
    <div class="why-main-heading">
      <h4>Unlike any human running your business</h4>
      <h1>RouteMaestro never sleeps, calls in sick, or lets you down</h1>
    </div>

    <div class="all-why-cards">
      <div class="single-why-card">
        <img
          src="../../../assets/img/brand/wallet_855279.png"
          alt=""
          class="single-why-card-img"
        />

        <h3>Cut Overheads Costs</h3>
        <p>
          The AI-powered automation, streamlines processes and eliminates
          overhead expenses.
        </p>
      </div>
      <div class="single-why-card">
        <img
          src="../../../assets/img/brand/chronometer_850960.png"
          alt=""
          class="single-why-card-img"
        />
        <h3>Optimise Client Turn Around Time</h3>
        <p>
          The platform's instant inventory access & professional template cuts
          the turn around time by 95%.
        </p>
      </div>
      <div class="single-why-card">
        <img
          src="../../../assets/img/brand/profit_9552965.png"
          alt=""
          class="single-why-card-img"
        />
        <h3>Boost Company Profitability</h3>
        <p>
          The platform enhances revenue generation by boosting volume &
          triggering instant client-gratification.
        </p>
      </div>
    </div>
  </div>

  <!-- eighth FAQ -->

  <div class="eight-mainPage">
    <div class="all-faqs">
      <h2>Frequently Asked Questions:</h2>
      <div>
        <app-faq
          #faq1
          question="How much time does it take your platform to generate itineraries"
          answer="Depending upon the trip duration, our platform generates relevant itineraries for your clients within 60 Seconds."
        ></app-faq>
        <app-faq
          #faq2
          question=" What inventory does your platform offer?"
          answer=" Our platform seamlessly integrates with various travel suppliers, such as airlines, hotels, and car rental companies, to access real-time pricing and availability across 10 Lakhs + Hotels & 17+ Airlines, worldwide."
        ></app-faq>

        <app-faq
          #faq3
          question="How can I share itineraries and/or packages with my customers?"
          answer=" Our platform provides multiple options for sharing Itineraries & Packages with your customers. You can generate shareable links that can be emailed or shared directly with clients. You can also embed itineraries directly into your website or customer portal."
        ></app-faq>
      </div>
    </div>
  </div>
</main>