<div>
    <h2 style=" padding-top: 10px;">
        <span style=" width: 250px; font-size: 1.5rem; font-weight: 800; text-decoration: underline;">Hotel Cancellation Policy</span>
    </h2>
    <div class="cards">
       

        <div class="hotel-name">
            <span>Gandhi Inn</span>
        </div>
        <div class="terms" style="margin-top: 20px;" >
            
            
                <div class="cancellation-table"  >
                    <table>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Date Change Fee</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Till 19 Feb 24</td>
                                <td>₹1,73,000</td>
                            </tr>
                            <tr>
                                <td>Till 05 Mar 24</td>
                                <td>₹3,12,500</td>
                            </tr>
                            <tr>
                                <td>Till 19 Mar 24</td>
                                <td>₹4,32,000</td>
                            </tr>
                            <tr>
                                <td>After 19 Mar 24</td>
                                <td>Date Can not be changed</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            
          
            </div>

            <p class="disclaimer"  ><span style="font-weight: 800;">Policy: </span>These are non-refundable amounts as per the current components attached. In the case of component change/modifications, the policy will change accordingly. Lorem ipsum dolor sit amet consectetur adipisicing elit. A laborum neque similique aperiam cumque incidunt explicabo ducimus illo eum vero in quaerat iure ut consequuntur cupiditate, ad libero repudiandae itaque.</p>
            
    </div>
    <div class="cards">
      

        <div class="hotel-name">
            <span>Gandhi Inn</span>
        </div>
        <div class="terms" style="margin-top: 20px;" >
            
            
                <div class="cancellation-table"  >
                    <table>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Date Change Fee</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Till 19 Feb 24</td>
                                <td>₹1,73,000</td>
                            </tr>
                            <tr>
                                <td>Till 05 Mar 24</td>
                                <td>₹3,12,500</td>
                            </tr>
                            <tr>
                                <td>Till 19 Mar 24</td>
                                <td>₹4,32,000</td>
                            </tr>
                            <tr>
                                <td>After 19 Mar 24</td>
                                <td>Date Can not be changed</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            
          
            </div>

            <p class="disclaimer" ><span style="font-weight: 800;">Policy: </span>These are non-refundable amounts as per the current components attached. In the case of component change/modifications, the policy will change accordingly. Lorem ipsum dolor sit amet consectetur adipisicing elit. A laborum neque similique aperiam cumque incidunt explicabo ducimus illo eum vero in quaerat iure ut consequuntur cupiditate, ad libero repudiandae itaque.</p>
            
    </div>
</div>