<app-flight-seat-map
  *ngIf="seatMapDialog"
  style="width: 100vw; height: 100vh"
  [ssr]="ssrData"
  [seatMapDaialog]="seatMapDialog"
  (closeDialog)="handleSeatMapClick()"
  (seatMapData)="handleSeatMapData($event)"
></app-flight-seat-map>

<body>
  <div class="sub-container" (click)="dialogbox()"></div>

  <main>
    <header class="header">
      <h2 style="padding-left: 30px">Add Traveller Details</h2>
      <h2
        style="
          padding-right: 18px;
          cursor: pointer;
          position: absolute;
          right: 10px;
        "
        (click)="dialogbox()"
      >
        X
      </h2>
    </header>

    <div class="travellers">
      <!-- traveller number -->
      <div
        style="
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-left: 20px;
        "
      >
        <h2>
          Traveller
          {{ currentIndex ? currentIndex + 1 : currentTravellerCount }}
        </h2>
        <span> /{{ NoOfTravellers }}</span>
      </div>

      <form [formGroup]="travelerForm">

        <!-- personal details -->
        <div class="info">
          <div class="head">
            <h2>Mandatory Information</h2>
          </div>
          <hr />

          <div class="traveller-info" style="position: relative;">
            <div
              style="
                padding-top: 20px;
                padding-bottom: 20px;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                gap: 20px;
              "
            >
              <span>Enter Mandatory Details</span>
              <ng-container>
                <i class="fa-solid fa-pen-to-square"></i
              ></ng-container>
            </div>
            <button (click)="resetTravelerDetails(currentTravelerUid)" style="position: absolute;top: 5px;right: 5px;" >Reset</button>
            <fieldset class="inputs" formGroupName="personalInfo">
              <legend>Personal Info</legend>

              <!-- title -->
              <div>
                <label><span>Title</span></label>
                <select
                  formControlName="Title"
                  required
                  [value]="travelers[currentIndex]?.personalInfo?.Title || ''"
                >
                  <option></option>
                  <option>Mr</option>
                  <option>Mrs</option>
                  <option>Miss</option>
                </select>
              </div>

              <!-- first name -->
              <div>
                <label><span>First Name</span></label>
                <input
                  type="text"
                  formControlName="FirstName"
                  required
                  [value]="
                    travelers[currentIndex]?.personalInfo?.FirstName || ''
                  "
                />
              </div>

              <!-- last name -->
              <div>
                <label><span>Last Name</span></label>
                <input
                  type="text"
                  formControlName="LastName"
                  required
                  [value]="
                    travelers[currentIndex]?.personalInfo?.LastName || ''
                  "
                />
              </div>

              <!-- dob -->
              <div>
                <label><span>Date of Birth</span></label>
                <input
                  type="date"
                  formControlName="DateOfBirth"
                  required
                  [value]="
                    travelers[currentIndex]?.personalInfo?.DateOfBirth || ''
                  "
                />
              </div>

              <!-- gender -->
              <div>
                <label><span>Gender</span></label>
                <select
                  name="gender"
                  formControlName="Gender"
                  required
                  [value]="travelers[currentIndex]?.personalInfo?.Gender || ''"
                >
                  <option disabled selected value="">Please select</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Other">Other</option>
                </select>
              </div>

              <!-- nationality  -->
              <div>
                <label><span>Nationality</span></label>

                <input
                  type="text"
                  formControlName="Nationality"
                  required
                  placeholder="Search Nationality"
                  [(ngModel)]="nationalitySearchText"
                  (click)="$event.stopPropagation()"
                  (input)="onNationalityInputChange()"
                  aria-label="Search"
                />
                <div
                  style="width: 100%"
                  *ngIf="
                    nationalitySearchArr && nationalitySearchArr.length > 0
                  "
                >
                 
                  <ul style="color: #000; list-style-type: none; padding: 0">
                    <li
                      *ngFor="let country of nationalitySearchArr"
                      (click)="onNationalitySelected(country)"
                    >
                      <ng-container *ngIf="country.country_code !== null">
                        <div
                          style="
                            cursor: pointer;
                            display: flex;
                            width: 100%;
                            border: 1px solid lightgray;
                            border-radius: 5px;
                            font-size: 13px;
                            line-height: 21px;
                            font-weight: 600;
                            margin: 3px 0;
                          "
                        >
                          <div
                            style="
                              display: flex;
                              width: 90%;
                              flex-direction: column;
                              align-items: center;
                              justify-content: center;
                            "
                          >
                            <h4 style="margin: 0">
                              {{ country.nationality.join(", ") }}
                            </h4>
                            <h4 style="margin: 0">
                              {{ country.country_name }}
                            </h4>
                          </div>
                        </div>
                      </ng-container>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- city -->
              <div>
                <label><span>City</span></label>
                <input
                  type="text"
                  formControlName="City"
                  required
                  placeholder="Search Cities"
                  [(ngModel)]="citySearchText"
                  (click)="$event.stopPropagation()"
                  (input)="onCityInputChange()"
                />
                <!-- cities -->
                <div
                  style="width: 100%"
                  *ngIf="citySearchResponse && citySearchResponse.length > 0"
                >
                
                  <ul style="color: #000; list-style-type: none; padding: 0">
                    <li
                      *ngFor="let city of citySearchResponse"
                      (click)="onCitySelected(city)"
                      style="
                        cursor: pointer;
                        border: 1px solid lightgray;
                        border-radius: 5px;
                        font-size: 13px;
                        line-height: 21px;
                        font-weight: 600;
                        margin: 3px 0;
                      "
                    >
                      <div style="display: flex">
                        <span
                          style="
                            width: 10%;
                            margin: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                          "
                          class="emoji"
                          >{{ city.emoji }}</span
                        >
                        <div
                          style="
                            display: flex;
                            width: 90%;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                          "
                        >
                          <h4 style="margin: 0">
                            {{ city.city_name }}, {{ city.state_name }}
                          </h4>
                          <h4 style="margin: 0">{{ city.country_name }},</h4>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- country name -->
              <div>
                <label><span>Country Name</span></label>
                <input
                type="text"
                formControlName="CountryName"
                required
                  placeholder="Search Country"
                  [(ngModel)]="countrySearchText"
                  (click)="$event.stopPropagation()"
                  (input)="onCountryInputChange()"
                  aria-label="Search"
                />
                <div
                  style="width: 100%"
                  *ngIf="
                  countrySearchArr && countrySearchArr.length > 0
                  "
                >
                 
                  <ul style="color: #000; list-style-type: none; padding: 0">
                    <li
                      *ngFor="let country of countrySearchArr"
                      (click)="onCountrySelected(country)"
                    >
                      <ng-container *ngIf="country.country_code !== null">
                        <div
                          style="
                            cursor: pointer;
                            display: flex;
                            width: 100%;
                            border: 1px solid lightgray;
                            border-radius: 5px;
                            font-size: 13px;
                            line-height: 21px;
                            font-weight: 600;
                            margin: 3px 0;
                          "
                        >
                          <div
                            style="
                              display: flex;
                              width: 90%;
                             gap: 5px;
                              align-items: center;
                              justify-content: center;
                            "
                          >
                            
                            <h4 style="margin: 0">
                              {{ country.country_name }}
                            </h4>
                            <h4 style="margin: 0;font-size: 12px;">
                              {{ country.country_code}}
                            </h4>
                          </div>
                        </div>
                      </ng-container>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- address line 1 -->
              <div>
                <label><span>Address Line 1</span></label>
                <input
                  type="text"
                  formControlName="AddressLine1"
                  required
                  [value]="
                    travelers[currentIndex]?.personalInfo?.AddressLine1 || ''
                  "
                />
              </div>

              <!-- address line 2 -->
              <div>
                <label><span>Address Line 2</span></label>
                <input
                  type="text"
                  formControlName="AddressLine2"
                  required
                  [value]="
                    travelers[currentIndex]?.personalInfo?.AddressLine2 || ''
                  "
                />
              </div>

              <!-- pan -->
              <div>
                <label><span>PAN</span></label>
                <input
                  type="text"
                  formControlName="PAN"
                  required
                  [value]="travelers[currentIndex]?.personalInfo?.PAN || ''"
                />
              </div>

              <!-- passport number -->
              <div>
                <label><span>Passport No.</span></label>
                <input
                  type="text"
                  formControlName="PassportNo"
                  required
                  [value]="
                    travelers[currentIndex]?.personalInfo?.PassportNo || ''
                  "
                />
              </div>

              <!-- passport issue date -->
              <div>
                <label><span>Passport Issue date</span></label>
                <input
                  type="date"
                  formControlName="PassportIssueDate"
                  required
                  [value]="
                    travelers[currentIndex]?.personalInfo?.PassportIssueDate ||
                    ''
                  "
                />
              </div>

              <!-- passport expiry -->
              <div>
                <label><span>Passport Expiry date</span></label>
                <input
                  type="date"
                  formControlName="PassportExpiry"
                  required
                  [value]="
                    travelers[currentIndex]?.personalInfo?.PassportExpiry || ''
                  "
                />
              </div>

              <!-- contact number -->
              <div>
                <label><span>Contact No</span></label>
                <input
                  type="text"
                  formControlName="ContactNo"
                  required
                  [value]="
                    travelers[currentIndex]?.personalInfo?.ContactNo || ''
                  "
                />
              </div>

              <!-- email -->
              <div>
                <label><span>Email</span></label>
                <input
                  type="email"
                  formControlName="Email"
                  required
                  [value]="travelers[currentIndex]?.personalInfo?.Email || ''"
                />
              </div>
            </fieldset>

            <button (click)="seeSavedUser()">SaveDetails</button>

            <!-- guardian details for child and infant type  -->
            <fieldset
              class="inputs"
              formGroupName="guardianDetails"
              *ngIf="
                travelers[currentIndex]?.personalInfo?.PaxType === 2 ||
                travelers[currentIndex]?.personalInfo?.PaxType === 3
              "
            >
              <legend>Guardian Details</legend>
              <!-- title -->
              <div>
                <label><span>Title</span></label>
                <select
                  formControlName="Title"
                  required
                  [value]="
                    travelers[currentIndex]?.guardianDetails?.Title || ''
                  "
                >
                  <option></option>
                  <option>Mr</option>
                  <option>Mrs</option>
                  <option>Miss</option>
                </select>
              </div>

              <!-- first name -->
              <div>
                <label><span>First Name</span></label>
                <input
                  type="text"
                  formControlName="FirstName"
                  required
                  [value]="
                    travelers[currentIndex]?.guardianDetails?.FirstName || ''
                  "
                />
              </div>

              <!-- last name -->
              <div>
                <label><span>Last Name</span></label>
                <input
                  type="text"
                  formControlName="LastName"
                  required
                  [value]="
                    travelers[currentIndex]?.guardianDetails?.LastName || ''
                  "
                />
              </div>

              <!-- pan -->
              <div>
                <label><span>PAN</span></label>
                <input
                  type="text"
                  formControlName="PAN"
                  required
                  [value]="travelers[currentIndex]?.guardianDetails?.PAN || ''"
                />
              </div>

              <!-- passport number  -->
              <div>
                <label><span>Passport No</span></label>
                <input
                  type="text"
                  formControlName="LastName"
                  required
                  [value]="
                    travelers[currentIndex]?.guardianDetails?.PassportNo || ''
                  "
                />
              </div>
            </fieldset>
          </div>
        </div>

        <!-- SSR Form Group -->
        <div *ngIf="ssr" formGroupName="ssr">
          
          <!-- Non LCC -->
          <div *ngIf="!isLCC" style="display: flex;width: 100%;align-items: center;justify-content: space-evenly;">
            <!-- Meal Selection -->
            <div style="display: flex;width: 30%;">
              <label
                for="meal"
                style="display: block; margin-bottom: 8px; font-weight: bold"
                >Meal</label
              >
              <select
                id="meal"
                formControlName="meal"
                style="
                  width: 100%;
                  padding: 8px;
                  margin-bottom: 16px;
                  border: 1px solid #ccc;
                  border-radius: 4px;
                "
              >
                <option [ngValue]="null">No Preference</option>
                <option *ngFor="let item of ssr?.meals" [ngValue]="item">
                  {{ item?.Description }} ({{ item?.Code }})
                </option>
              </select>
            </div>

            <!-- Seat Selection -->
            <div style="display: flex;width: 30%;">
              <label
                for="seat"
                style="display: block; margin-bottom: 8px; font-weight: bold"
                >Seat</label
              >
              <select
                id="seat"
                formControlName="seat"
                style="
                  width: 100%;
                  padding: 8px;
                  margin-bottom: 16px;
                  border: 1px solid #ccc;
                  border-radius: 4px;
                "
              >
                <option [ngValue]="null">No Preference</option>
                <option *ngFor="let item of ssr?.seats" [ngValue]="item">
                  {{ item?.Description }} ({{ item?.Code }})
                </option>
              </select>
            </div>
          </div>

          <!-- LCC FLIGHTS -->
          <div
            *ngIf="isLCC"
            style="
              max-width: 600px;
              margin: auto;
              padding: 20px;
              border: 1px solid #ddd;
              border-radius: 10px;
            "
          >
            <!-- Baggage Selection -->
            <div *ngIf="ssr?.Baggage?.length" style="margin-bottom: 20px">
              <label
                for="baggage"
                style="display: block; font-weight: bold; margin-bottom: 5px"
                >Baggage</label
              >
              <select
                id="baggage"
                formControlName="extraBaggage"
                style="
                  width: 100%;
                  padding: 10px;
                  border: 1px solid #ccc;
                  border-radius: 5px;
                "
              >
                <option [ngValue]="null">No Preference</option>
                <option
                  *ngFor="let baggageOption of ssr.Baggage[0]"
                  [ngValue]="baggageOption"
                >
                  {{ baggageOption.Weight }}kg -
                  {{ baggageOption.Price | currency : baggageOption.Currency }}
                </option>
              </select>
            </div>

            <!-- Meal Selection -->
            <div *ngIf="ssr?.MealDynamic?.length" style="margin-bottom: 20px">
              <label
                for="meal"
                style="display: block; font-weight: bold; margin-bottom: 5px"
              >
                Meal
              </label>
              <select
                id="meal"
                formControlName="meal"
                style="
                  width: 100%;
                  padding: 10px;
                  border: 1px solid #ccc;
                  border-radius: 5px;
                "
              >
                <option [ngValue]="null">No Preference</option>
                <option
                  *ngFor="let mealOption of ssr.MealDynamic[0]"
                  [ngValue]="mealOption"
                >
                  {{ mealOption.AirlineDescription || "No Meal" }} ({{
                    mealOption.Price | currency : mealOption.Currency
                  }})
                </option>
              </select>
            </div>

            <!-- Seat Selection -->
            <div *ngIf="ssr?.SeatDynamic?.length">
              <label
                for="seat"
                style="display: block; font-weight: bold; margin-bottom: 5px"
                >Seat</label
              >
              <select
                id="seat"
                formControlName="seat"
                style="
                  width: 100%;
                  padding: 10px;
                  border: 1px solid #ccc;
                  border-radius: 5px;
                "
              >
                <option [ngValue]="null">No Preference</option>
                <ng-container
                  *ngFor="let row of ssr.SeatDynamic[0].SegmentSeat"
                >
                  <option
                    *ngFor="let seat of row.RowSeats[0].Seats"
                    [ngValue]="seat"
                  >
                    {{ seat.Code }} ({{
                      seat.Price | currency : seat.Currency
                    }})
                  </option>
                </ng-container>
              </select>
            </div>
          </div>

        </div>
      </form>

      <!-- SSR -->
      <!-- <div class="traveller-info">
        <fieldset class="inputs" *ngIf="ssr">
          <legend>SSR</legend>
          <!-- <div formGroupName="ssr" *ngIf="ssr" style="display: flex; width:100%; flex-direction: row;"> 

          <ng-container *ngIf="ssr">
            <!-- baggage 
            <div>
              <label><span>Extra Baggage (kgs)</span></label>
              <select
                [(ngModel)]="travelerForm.value.ssr.extraBaggage"
                (change)="updatePrice()"
              >
                <option *ngIf="!ssr?.ssr?.Baggage[0]" disabled>
                  Select a Baggage
                </option>
                <ng-container *ngFor="let item of ssr?.ssr?.Baggage[0]">
                  <option [ngValue]="item">
                    {{
                      "Weight " + item?.Weight + " (Rs. " + item?.Price + ")"
                    }}
                    ({{
                      item.Description === 0
                        ? "Not Set"
                        : item.Description === 1
                        ? "Included"
                        : item.Description === 2
                        ? "Direct (Purchase)"
                        : item.Description === 3
                        ? "Imported"
                        : item.Description === 4
                        ? "Upgrade"
                        : item.Description === 5
                        ? "Imported Upgrade"
                        : ""
                    }})
                  </option>
                </ng-container>
              </select>
              <p>
                selected baggage :
                {{ travelerForm.value.ssr.extraBaggage | json }}
              </p>
            </div>

            <!-- meal 
            <div *ngIf="ssr?.meals">
              <label><span>Meal</span></label>
              <select
                [(ngModel)]="travelerForm.value.ssr.meal"
                (change)="updatePrice()"
              >
                <option
                  *ngIf="
                    !travelers[currentIndex]?.ssr?.meal?.AirlineDescription
                  "
                  disabled
                >
                  Select a meal
                </option>
                <ng-container *ngFor="let item of ssr?.meals">
                  <option [ngValue]="item">
                    {{ item?.Description }} ({{ item?.Code }})
                  </option>
                </ng-container>
              </select>
            </div>

            <!-- Dynamic Meal Select Option 
            <div *ngIf="ssr?.ssr?.MealDynamic">
              <label><span>Meal</span></label>
              <select
                [(ngModel)]="travelerForm.value.ssr.meal"
                (change)="updatePrice()"
              >
                <option
                  *ngIf="
                    !travelers[currentIndex]?.ssr?.meal?.AirlineDescription
                  "
                  disabled
                >
                  Select a meal
                </option>
                <ng-container *ngFor="let item of ssr?.ssr?.MealDynamic[0]">
                  <option [ngValue]="item">
                    {{ item?.AirlineDescription }} ({{ item?.Code }}/ Rs.
                    {{ item?.Price }}) ({{
                      item?.Description === 1
                        ? "Included"
                        : item?.Description === 2
                        ? "Direct"
                        : item?.Description === 3
                        ? "Imported"
                        : ""
                    }})
                  </option>
                </ng-container>
              </select>
            </div>

            <!-- seats 
            <ng-container *ngIf="ssr?.ssr?.SeatDynamic">
              <ng-container
                *ngFor="
                  let seats of ssr?.ssr?.SeatDynamic[0]?.SegmentSeat;
                  let i = index
                "
              >
                <div>
                  <label
                    ><span>
                      Seat ( {{ seats?.RowSeats[0].Seats[0].Origin }} -
                      {{ seats?.RowSeats[0].Seats[0].Destination }} )</span
                    ></label
                  >
                  <div
                    style="
                      display: flex;
                      justify-content: flex-start;
                      flex-direction: row;
                      align-items: center;
                      gap: 5px;
                      height: 40px;
                    "
                  >
                    <input
                      disabled
                      style="width: 160px; height: 36px"
                      [value]="travelers[currentIndex]?.ssr?.seat?.rowNo || ''"
                    />
                    <i
                      class="fa-solid fa-calculator"
                      (click)="handleSeatMapClick(i, seats?.RowSeats, 0)"
                    ></i>
                  </div>
                </div>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="ssr?.ssr?.SeatPreference">
              <div>
                <label
                  ><span
                    >Seat ( {{ ssr?.Origin }} - {{ ssr?.Destination }} )</span
                  ></label
                >
                <div
                  style="
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: row;
                    align-items: center;
                    gap: 5px;
                    height: 40px;
                  "
                >
                  <input
                    disabled
                    style="width: 160px; height: 36px"
                    [value]="
                      travelers[currentIndex]?.ssr?.seat?.Description || ''
                    "
                  />
                  <i
                    class="fa-solid fa-calculator"
                    (click)="handleSeatMapClick(i, ssr?.ssr?.SeatPreference, 0)"
                  ></i>
                </div>
              </div>
            </ng-container>
          </ng-container>

          <!-- </div> 
        </fieldset>
      </div> -->

      <ng-container>
        <div class="btn">
          <button type="submit" (click)="addOrUpdateTraveler(currentTravelerUid)">
            <span>Add Traveler</span>
          </button>
        </div>
      </ng-container>

      <!-- <ng-container
        *ngIf="travelers[currentIndex]?.personalInfo?.FirstName !== ''"
      >
        <div class="btn">
          <button type="submit" (click)="updateTraveller()">
            <span>Update</span>
          </button>
        </div>
      </ng-container> -->
    </div>
  </main>
</body>
