<main>
  <div class="about-heading">
    <h1>About Us</h1>
  </div>
  <div class="about-info">
    <p>
      “Wherever you go, go with all your heart.” Nurtured from the idea to
      empower the traveller - RouteMaestro is a venture of Airnet Travels and
      Cargo Pvt. Ltd, pioneers in the travel and tourism industry of Ludhiana,
      Punjab. Founded in the year 1997, Airnet came to life to empower the
      Indian traveller. The company initiated its journey serving the
      Australia-India travel market offering a range of best-value products and
      services powered round-the-clock customer support and now have added other
      travel markets to their expertise. RouteMaestro.com is Airnet's vision to
      empower users and bring affordable flight booking solutions for Indian
      business and leisure travellers. Our support team is equipped with the
      necessary knkoweledge and the know-how's of the market. Airnet has been
      proactively diversifying into a variety of online and offline products and
      services.
    </p>
  </div>
</main>
