<div style="width: 300px; height: fit-content; border: 1px solid white; border-radius: 20px; background-color: #03254A;">
    <div class="first">
        <div class="person">
            <small style="font-size: 1.3rem; font-weight: 600;">Payment Breakdown</small>
        </div>
        <!-- <button style="background-color: #E24729;"><span style="color: white; font-weight: 600;">Book Now</span></button> -->
    </div>
    <div class="second">

        <div class="price-details" >
            <div class="sub-details" style="width: 120px;">
                <small>Flights Published Fare</small>
            </div>
            <div class="sub-details" style="width: fit-content;">
                <small> ₹{{flightsPublishedFare}} </small>
            </div>
        </div>

        <div class="price-details">
            <div class="sub-details" style="width: 120px;">
                <small>Flights Incentive</small>
            </div>
            <div class="sub-details" style="width: fit-content;">
                <small> ₹{{flightsIncentive}} </small>
            </div>
        </div>


        <div class="price-details">
            <div class="sub-details" style="width: 120px;">
                <small>Hotels Published Fare</small>
            </div>
            <div class="sub-details" style="width: fit-content;">
                <small>₹ {{hotelsPublishedFare}}</small>
            </div>
        </div>

        <div class="price-details">
            <div class="sub-details" style="width: 120px;">
                <small>Hotels Incentive</small>
            </div>
            <div class="sub-details" style="width: fit-content;">
                <small> ₹{{hotelsIncentive}} </small>
            </div>
        </div>

        <!-- <div class="price-details">
            <div class="sub-details" style="width: 100%; padding-left: 40px;" (click)="toggleTaxesSection()">
                <div class="taxes-header" (click)="toggleTaxesSection()">
                    <small>Taxes</small>
                    <div id="arrowDown"  style="color: white;"  (click)="toggleTaxesSection()" [class.arrow-hidden]="taxesSectionExpanded" class="v-arrow"></div>
                <div id="arrowUp" style="color: white;"  (click)="toggleTaxesSection()" [class.arrow-hidden]="!taxesSectionExpanded" class="v-arrow-up arrow-hidden"></div>
                </div>
                <div >
                    <div style="display: flex; width: 100%; gap: 100px; padding-left: 10px;">
                        <small>Package GST</small>
                        <small>₹ 7888</small>
                    </div>
                    <div style="display: flex; width: 100%; gap: 100px; padding-left: 10px;">
                        <small>Package TDS</small>
                        <small>₹ 7888</small>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <!-- <div class="fourth">
        <div style="width: 33.33%; display: flex; justify-content: center; align-items: center;" class="options">
            <small style="width: 100%; display: flex; color: white; justify-content: center; align-items: center; padding-left: 15px;">
                Request Call Back</small>
        </div>
        <div style="width: 33.33%;" class="options">
            <small style="width: 100%; color: white; display: flex; justify-content: center; align-items: center; padding-left: 15px;" (click)="handleClose()">Cancellation</small>
        </div>
        <div style="width: 33.33%;" class="options">
            <small style="width: 100%; color: white; display: flex; justify-content: center; align-items: center; padding-left: 15px;">Mail this Bill</small>
        </div>
    </div> -->
<!--
    <div class="fifth">
        <div style="padding-left: 10px;">
            <span >Important Information</span>
        </div>
        <div style="display: flex; padding-left: 10px; flex-direction: column;">
            <span style="color: #E24729; font-size: 0.7rem; text-decoration: underline; cursor: pointer;" (click)="package()">Package Cancellation Policies</span>
            <span style="font-size: 0.7rem;">By clicking on the checkbox below to proceed with the booking, I confirm that I have read and I accept <span style="color: #E24729; cursor: pointer;" (click)="privacy()">Privacy Policy</span>, <span style="color: #E24729; cursor: pointer;" (click)="terms()">Terms & Conditions</span> and <span style="color: #E24729; cursor: pointer;" (click)="refundible()">Refundible Policy</span> of RouteMaestro</span>
        </div>
    </div> -->
</div>