<style>
  * {
    padding: 0;
    font-family: Calibri, "Trebuchet MS", sans-serif;
  }
</style>

<body>
  <div
    class="w-100 p-5"
    style="background-color: rgb(245, 244, 244); height: 100vh"
  >
    <div
      class="conatiner d-flex flex-column justify-content-center align-items-center pt-3 pb-5"
      style="background-color: white; margin-top: 60px; width: 100%"
    >
      <div class="w-100 px-5 pt-3">
        <!-- back btn -->
        <button
          type="button"
          class="btn rounded-circle"
          (click)="back()"
          style="
            background-color: #2f3268;
            color: white;
            width: 50px;
            height: 50px;
            padding-top: 13px;
          "
        >
          <span class="material-symbols-outlined"> arrow_back </span>
        </button>
      </div>

      <div
        class="heading d-flex flex-column justify-content-center align-items-center"
      >
        <h1 class="fw-bold">
          Add New Customer
        </h1>
        <!-- <div class="sub-heading">
          <p style="font-size: 16px">Do you want to add this customer?</p>
        </div> -->
      </div>

      <div
        class="input-data d-flex flex-column justify-content-center align-items-center w-50"
      >
      <!-- name -->
        <div class="mb-3" style="width: 80%">
          <input
            type="text"
            class="form-control text-center"
            [(ngModel)]="userData.name"
            id="exampleFormControlInput1"
            placeholder="Type Your Customer Name"
            style="height: 50px"
          />
        </div>
        <!-- email -->
        <div class="mb-3" style="width: 80%">
          <input
            type="email"
            class="form-control text-center"
            [(ngModel)]="userData.email"
            id="exampleFormControlInput1"
            placeholder="Email"
            style="height: 50px"
          />
        </div>
        <!-- contact Number -->
        <div class="mb-3" style="width: 80%">
          <input
            type="text"
            class="form-control text-center"
            [(ngModel)]="userData.phone_number"
            id="exampleFormControlInput1"
            placeholder="Type Your Contact Number"
            style="height: 50px"
          />
        </div>
        <!-- address -->
        <div class="mb-3" style="width: 80%">
          <input
            type="text"
            class="form-control text-center"
            [(ngModel)]="userData.address"
            id="exampleFormControlInput1"
            placeholder="Type Customer Full Address"
            style="height: 50px"
          />
        </div>
      </div>
      <div class="py-2" style="width: 40%; text-align: center">
        <button
          type="button"
          class="btn shadow"
          style="background-color: #2f3268; color: white; width: 100px"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn shadow"
          (click)="onRegister()"
          style="background-color: #ff4040; color: white; width: 100px"
        >
          Register
        </button>
      </div>
    </div>
  </div>
</body>
