<main>

  <nav id="sidebar">

    <h1
      style="
        font-size: 20px;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 13px;
        color: white;
      "
    >
      Book Flights
    </h1>

    <div class="container p-0">

      <div
        id="accordion"
        style="
          display: flex;
          flex-direction: column;
          gap: 8px;
          align-items: center;
        "
      >
        <!-- journey -->
        <div
          class="card"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          <div
            class="card-header p-2"
            id="headingOne"
            style="
              text-align: center;
              display: flex;
              height: 50px;
              align-items: center;
              width: 258px;
              justify-content: space-between;
            "
          >
            <a
              class="btn btn-link p-2 mb-0 dropdown-toggle"
              style="
                color: #323268;
                font-family: 'Lato', sans-serif;
                font-size: medium;
              "
              data-toggle="collapse"
              data-target="#collapseOne "
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Journey Type
            </a>
            <ng-container *ngIf="journeyType === 1">
              <p
                style="font-size: 14px; font-weight: 600"
                class="fw-bold py-2 px-2 m-0 text-dark"
              >
                One Way
              </p>
            </ng-container>
            <ng-container *ngIf="journeyType === 2">
              <p
                style="font-size: 14px; font-weight: 600"
                class="fw-bold py-2 px-2 m-0 text-dark"
              >
                Round Trip
              </p>
            </ng-container>
            <ng-container *ngIf="journeyType === 3">
              <p
                style="font-size: 14px; font-weight: 600"
                class="fw-bold py-2 px-2 m-0 text-dark"
              >
                MultiCity
              </p>
            </ng-container>
            <ng-container
              style="font-size: 14px; font-weight: 600"
              *ngIf="journeyType === 4"
            >
              <p class="fw-bold py-2 px-2 m-0 text-dark">Advance Search</p>
            </ng-container>
          </div>

          <div>
            <div class="container-fluid mt-2">
              <div
                class="row input shadow-sm"
                style="
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  text-align: center;
                  border-radius: 10px;
                "
              >
                <div
                  class="row"
                  style="
                    flex-direction: row;
                    gap: 10px;
                    justify-content: flex-start;
                    align-items: flex-start;
                  "
                >
                  <div class="item">
                    <input
                      type="radio"
                      name="journeyType"
                      (change)="toggleJourney(1, $event.target.checked)"
                      [checked]="journeyType === 1"
                    />
                    <span>One Way</span>
                  </div>
                  <div class="item">
                    <input
                      type="radio"
                      name="journeyType"
                      (change)="toggleJourney(2, $event.target.checked)"
                    />
                    <span>Round Trip</span>
                  </div>
                  <div class="item">
                    <input
                      type="radio"
                      name="journeyType"
                      (change)="toggleJourney(3, $event.target.checked)"
                    />
                    <span>MultiCity</span>
                  </div>
                </div>
              </div>
              <div class="container">
                <!-- <div class="row" *ngFor="let data of filteredData | slice:0:6">
                  <a class="btn btn-link " (click)="onCountrySelect(data)">{{ data }}</a>
              </div> -->
                <div
                  class="row search"
                  style="
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                  "
                ></div>
              </div>
            </div>
          </div>
        </div>

        <!-- Departure -->
        <div
          class="card"
          data-toggle="collapse"
          data-target="#collapse4"
          aria-expanded="false"
          aria-controls="collapse4"
        >
          <div
            class="card-header p-2"
            id="heading4"
            style="
              text-align: center;
              display: flex;
              height: 50px;
              align-items: center;
              width: 258px;
              justify-content: space-between;
            "
          >
            <a
              class="btn btn-link p-2 mb-0 dropdown-toggle"
              style="
                color: #323268;
                font-family: 'Lato', sans-serif;
                font-size: medium;
              "
              data-toggle="collapse"
              data-target="#collapse3"
              aria-expanded="true"
              aria-controls="collapse3"
            >
              Departure
            </a>

            <ng-container *ngIf="selectedAirport">
              <p
                style="font-size: 14px; font-weight: 600"
                class="fw-bold py-2 px-2 m-0 text-dark"
              >
                {{ selectedAirport }}
              </p>
            </ng-container>
          </div>

          <!-- the dropdown to choose from -->
          <div
            id="collapse4"
            class="collapse"
            aria-labelledby="heading4"
            data-parent="#accordion"
          >
            <div class="container-fluid mt-2">
              <div
                class="row input shadow-sm"
                style="
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  text-align: center;
                  border-radius: 10px;
                "
              >
                <input
                  type="search"
                  id="form1"
                  class="form-control"
                  placeholder="Search Airports"
                  [(ngModel)]="departureSearchText"
                  (click)="$event.stopPropagation()"
                  (input)="onDepartureInputChange()"
                  aria-label="Search"
                />
                <div
                  style="width: 100%"
                  *ngIf="
                    departureSearchAirports &&
                    departureSearchAirports.length > 0
                  "
                >
                  <h3 style="margin: 0">Airports:</h3>
                  <ul style="color: #000; list-style-type: none; padding: 0">
                    <li
                      *ngFor="let airport of departureSearchAirports"
                      (click)="onAirportSelect(airport)"
                    >
                      <ng-container *ngIf="airport.iata !== null">
                        <div
                          style="
                            cursor: pointer;
                            display: flex;
                            width: 100%;
                            border: 1px solid lightgray;
                            border-radius: 5px;
                            font-size: 13px;
                            line-height: 21px;
                            font-weight: 600;
                            margin: 3px 0;
                          "
                        >
                          <span
                            style="
                              width: 10%;
                              margin: 0;
                              display: flex;
                              align-items: center;
                              justify-content: center;
                            "
                            class="emoji"
                            >{{ airport.emoji }}</span
                          >
                          <div
                            style="
                              display: flex;
                              width: 90%;
                              flex-direction: column;
                              align-items: center;
                              justify-content: center;
                            "
                          >
                            <h4 style="margin: 0">
                              {{ airport.iata }} - {{ airport.name }}
                            </h4>
                            <h4 style="margin: 0">
                              {{ airport.city || airport.city_alias }},{{
                                airport.country_name
                              }}
                            </h4>
                          </div>
                        </div>
                      </ng-container>
                    </li>
                  </ul>
                </div>

                <!-- <datalist id="airport">
                    <ng-container *ngFor="let data of airportCodes">
                      <option
                        [value]="data?.cityName"
                        class="text-dark"
                        style="color: black"
                      >
                      {{ data.cityName }} ({{ data.cityCode }}, {{ data.countryCode }})
                      </option>
                    </ng-container>
                  </datalist> -->
              </div>
              <!-- <div class="container">
                  <div
                    class="row search custom-scrollbar"
                    style="
                      list-style: none;
                      display: flex;
                      flex-direction: column;
                      justify-content: start;
                      max-height: 400px;
                      overflow-y: scroll;
                    "
                  >
                    <ul
                      class="scrollable-column text-dark mt-2 p-0 "
                      style="list-style: none; max-width :180px;"
                      *ngIf="airportCodes"
                    >
                      <li
                        class="list text-dark fw-bold fs-5"
                        style="
                          list-style: none;
                          margin: 19px;
                          font-family: 'Nunito', sans-serif;
                          cursor: pointer;
                        "
                        *ngFor="let airport of filteredAirports "
                        (click)="onAirportSelect(airport)"
                      >
                      {{ airport.cityName }} ({{ airport.cityCode }}, {{ airport.countryCode }})
                      </li>
                    </ul>
                  </div>
                </div> -->
            </div>
          </div>
        </div>

        <!-- Destination -->
        <div
          class="card"
          data-toggle="collapse"
          data-target="#collapse6"
          aria-expanded="false"
          aria-controls="collapse6"
        >
          <div
            class="card-header p-2"
            id="heading4"
            style="
              text-align: center;
              display: flex;
              height: 50px;
              align-items: center;
              width: 258px;
              justify-content: space-between;
            "
          >
            <a
              class="btn btn-link p-2 mb-0 dropdown-toggle"
              style="
                color: #323268;
                font-family: 'Lato', sans-serif;
                font-size: medium;
              "
              data-toggle="collapse"
              data-target="#collapse6"
              aria-expanded="true"
              aria-controls="collapse6"
            >
              Destination
            </a>
            <ng-container *ngIf="selectedCity">
              <p
                style="font-size: 14px; font-weight: 600"
                class="fw-bold py-2 px-2 m-0 text-dark"
              >
                {{ selectedCity }}
              </p>
            </ng-container>
          </div>

          <div
            id="collapse6"
            class="collapse"
            aria-labelledby="heading6"
            data-parent="#accordion"
          >
            <div class="container-fluid mt-2">
              <div
                class="row input shadow-sm"
                style="
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  text-align: center;
                  border-radius: 10px;
                "
              >
                <input
                  type="search"
                  id="form1"
                  class="form-control"
                  placeholder="Search Destinations"
                  [(ngModel)]="destinationSearchText"
                  (click)="$event.stopPropagation()"
                  (input)="onDestinationInputChange()"
                  aria-label="Search"
                />
                <div
                  style="width: 100%"
                  *ngIf="
                    destinationSearchAirports &&
                    destinationSearchAirports.length > 0
                  "
                >
                  <h3 style="margin: 0">Airports:</h3>
                  <ul style="color: #000; list-style-type: none; padding: 0">
                    <li
                      *ngFor="let airport of destinationSearchAirports"
                      (click)="onCitySelect(airport)"
                    >
                      <ng-container *ngIf="airport.iata !== null">
                        <div
                          style="
                            cursor: pointer;
                            display: flex;
                            width: 100%;
                            border: 1px solid lightgray;
                            border-radius: 5px;
                            font-size: 13px;
                            line-height: 21px;
                            font-weight: 600;
                            margin: 3px 0;
                          "
                        >
                          <span
                            style="
                              width: 10%;
                              margin: 0;
                              display: flex;
                              align-items: center;
                              justify-content: center;
                            "
                            class="emoji"
                            >{{ airport.emoji }}</span
                          >
                          <div
                            style="
                              display: flex;
                              width: 90%;
                              flex-direction: column;
                              align-items: center;
                              justify-content: center;
                            "
                          >
                            <h4 style="margin: 0">
                              {{ airport.iata }} - {{ airport.name }}
                            </h4>
                            <h4 style="margin: 0">
                              {{ airport.city || airport.city_alias }},{{
                                airport.country_name
                              }}
                            </h4>
                          </div>
                        </div>
                      </ng-container>
                    </li>
                  </ul>
                </div>

                <!-- <datalist id="airport">
                  <ng-container *ngFor="let data of airportCodes">
                    <option
                      [value]="data?.cityName"
                      class="text-dark"
                      style="color: black"
                    >
                    {{ data.cityName }} ({{ data.cityCode }}, {{ data.countryCode }})
                    </option>
                  </ng-container>
                </datalist> -->
              </div>

              <!-- <div class="container">
                <div
                  class="row search custom-scrollbar"
                  style="
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    max-height: 400px;
                    overflow-y: scroll;
                  "
                >
                  <ul
                    class="scrollable-column text-dark mt-2 p-0 r"
                    style="list-style: none; max-width :180px;"
                    *ngIf="airportCodes"
                  >
                    <li
                      class="list text-dark fw-bold fs-5"
                      style="
                        list-style: none;
                        margin: 19px;
                        font-family: 'Nunito', sans-serif;
                        cursor: pointer;
                      "
                      *ngFor="let airport of filteredCities "
                      (click)="onCitySelect(airport)"
                    >
                    {{ airport.cityName }} ({{ airport.cityCode }}, {{ airport.countryCode }})
                    </li>
                  </ul>
                </div>
              </div> -->
            </div>
          </div>
        </div>

        <!-- date -->
        <div
          class="card"
          data-toggle="collapse"
          data-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >

          <div
            class="card-header p-2"
            id="headingTwo"
            style="
              text-align: center;
              display: flex;
              height: 50px;
              align-items: center;
              width: 258px;
              justify-content: space-between;
            "
          >
          
            <!-- Departure Date heading -->
            <ng-container >
              <a
                class="btn btn-link p-2 mb-0 dropdown-toggle"
                style="
                  color: #323268;
                  font-family: 'Lato', sans-serif;
                  font-size: medium;
                "
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="true"
                aria-controls="collapseTwo"
              >
                Departure Date
              </a>
            </ng-container>

            <!-- normal Datepicker -->
            <form class="row row-cols-sm-auto">
              <div class="col-12">
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dp"
                    [(ngModel)]="dateFromModel"
                    (ngModelChange)="onDateChange()"
                    ngbDatepicker
                    #d="ngbDatepicker"
                    [placement]="placement"
                    [positionTarget]="buttonEl"

                  />
                  <button #buttonEl class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
                </div>
              </div>
            </form>

           

          </div>
          <div *ngIf="journeyType==2" style="display: flex;align-items: center;justify-content: center;" >
            <ng-container *ngIf="journeyType === 2">
              <a
                class="btn btn-link p-2 mb-0 dropdown-toggle"
                style="
                  color: #323268;
                  font-family: 'Lato', sans-serif;
                  font-size: medium;
                "
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="true"
                aria-controls="collapseTwo"
              >
                Return Date
              </a>
            </ng-container>
            <form class="row row-cols-sm-auto">
              <div class="col-12">
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dp"
                    [(ngModel)]="endDateFromModel"
                    (ngModelChange)="onDateChange()"
                    ngbDatepicker
                    #d="ngbDatepicker"
                    [placement]="placement"
                    [positionTarget]="buttonEl"

                  />
                  <button #buttonEl class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
                </div>
              </div>
            </form>
          </div>

          <div>

            <div class="container-fluid mt-2">

              <div
                class="row input shadow-sm"
                style="
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  text-align: center;
                  border-radius: 10px;
                  height: 30px;
                "
              >

                <ng-container *ngIf="journeyType === 3">
                  <div
                    class="row"
                    style="
                      flex-direction: row;
                      gap: 10px;
                      justify-content: flex-start;
                      align-items: flex-start;
                    "
                  >
                    <div class="btn">
                      <button
                        type="button"
                        style="
                          /* display: flex; */
                          /* justify-content: center; */
                          align-items: center;
                          /* padding: 5px 10px; */
                          background-color: #e2472b;
                          text-align: center;
                          height: 26px;
                          display: flex;
                          /* justify-content: center; */
                          /* align-items: center; */
                          width: 76px;
                          align-items: center;
                          justify-content: center;
                          padding: 5px;
                        "
                        class="btn btn-warning"
                        (click)="addCity()"
                      >
                        <span
                          style="
                            font-size: 0.8rem;
                            color: white;
                            font-weight: 600;
                          "
                          >Add City</span
                        >
                      </button>
                    </div>
                  </div>
                </ng-container>

                <div
                  *ngIf="
                    tripDate !== '' ||
                    (selectedEndDate !== '' && selectedEndDate === '')
                  "
                  class="row"
                  style="
                    flex-direction: row;
                    gap: 10px;
                    justify-content: flex-start;
                    align-items: flex-start;
                  "
                >
                  <div class="btns">
                    <button
                      type="button"
                      style="
                        /* display: flex; */
                        /* justify-content: center; */
                        align-items: center;
                        /* padding: 5px 10px; */
                        background-color: #e2472b;
                        text-align: center;
                        height: 26px;
                        display: flex;
                        /* justify-content: center; */
                        /* align-items: center; */
                        width: 76px;
                        align-items: center;
                        justify-content: center;
                        padding: 5px;
                      "
                      class="btn btn-warning"
                      (click)="ResetDate()"
                    >
                      <span
                        style="
                          font-size: 0.7rem;
                          color: white;
                          font-weight: 600;
                        "
                        >Reset Date</span
                      >
                      <span *ngIf="selectedEndDate">{{selectedEndDate}}</span>
                    </button>
                  </div>

                </div>

              </div>

              <div class="container">
                <!-- <div class="row" *ngFor="let data of filteredData | slice:0:6">
                  <a class="btn btn-link " (click)="onCountrySelect(data)">{{ data }}</a>
              </div> -->
                <div
                  class="row search"
                  style="
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                  "
                ></div>
              </div>

            </div>

          </div>

        </div>

        <!-- fare -->
        <div
          class="card"
          data-toggle="collapse"
          data-target="#collapse7"
          aria-expanded="false"
          aria-controls="collapse7"
        >
          <div
            class="card-header p-2"
            id="heading7"
            style="
              text-align: center;
              display: flex;
              height: 50px;
              align-items: center;
              width: 258px;
              justify-content: space-between;
            "
          >
            <a
              class="btn btn-link p-2 mb-0 dropdown-toggle"
              style="
                color: #323268;
                font-family: 'Lato', sans-serif;
                font-size: medium;
              "
              data-toggle="collapse"
              data-target="#collapse3"
              aria-expanded="true"
              aria-controls="collapse3"
            >
              Fare Type
            </a>
            <ng-container *ngIf="fareType === 2">
              <p
                style="font-size: 14px; font-weight: 600"
                class="fw-bold py-2 px-2 m-0 text-dark"
              >
                Regular Fare
              </p>
            </ng-container>
            <ng-container *ngIf="fareType === 3">
              <p
                style="font-size: 14px; font-weight: 600"
                class="fw-bold py-2 px-2 m-0 text-dark"
              >
                Student Fare
              </p>
            </ng-container>
            <ng-container *ngIf="fareType === 4">
              <p
                style="font-size: 14px; font-weight: 600"
                class="fw-bold py-2 px-2 m-0 text-dark"
              >
                Armed Force
              </p>
            </ng-container>
            <ng-container *ngIf="fareType === 5">
              <p
                style="font-size: 14px; font-weight: 600"
                class="fw-bold py-2 px-2 m-0 text-dark"
              >
                Senior Citizen
              </p>
            </ng-container>
          </div>
          <div
            id="collapse7"
            class="collapse"
            aria-labelledby="heading7"
            data-parent="#accordion"
          >
            <div class="card-body">
              <form action="/action_page.php">
                <div class="form-check mb-2">
                  <label class="form-check-label text-dark">
                    <input
                      type="radio"
                      class="form-check-input"
                      name="optradio"
                      value="Couple"
                      (click)="selectFareType(2, $event.target.checked)"
                      [checked]="fareType === 2"
                    />
                    RegularFare
                  </label>
                </div>
                <div class="form-check mb-2">
                  <label class="form-check-label text-dark">
                    <input
                      type="radio"
                      class="form-check-input"
                      name="optradio"
                      value="Family"
                      (change)="selectFareType(3, $event.target.checked)"
                    />
                    Student Fare
                  </label>
                </div>
                <div class="form-check mb-2">
                  <label class="form-check-label text-dark">
                    <input
                      type="radio"
                      class="form-check-input"
                      name="optradio"
                      value="Friends"
                      (click)="selectFareType(4, $event.target.checked)"
                    />
                    Armed Force
                  </label>
                </div>
                <div class="form-check mb-2">
                  <label class="form-check-label text-dark">
                    <input
                      type="radio"
                      class="form-check-input"
                      name="optradio"
                      value="Solo"
                      (click)="selectFareType(5, $event.target.checked)"
                    />
                    Senior Citizen
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- travellers -->
        <div
          class="card"
          data-toggle="collapse"
          data-target="#collapse5"
          aria-expanded="false"
          aria-controls="collapse5"
        >
          <div
            class="card-header p-2"
            id="heading5"
            style="
              text-align: center;
              display: flex;
              height: 50px;
              align-items: center;
              width: 258px;
              justify-content: space-between;
            "
          >
            <a
              class="btn btn-link p-2 mb-0 dropdown-toggle"
              style="
                color: #323268;
                font-family: 'Lato', sans-serif;
                font-size: medium;
              "
              data-toggle="collapse"
              data-target="#collapse5"
              aria-expanded="true"
              aria-controls="collapse5"
            >
              Travellers
            </a>
          </div>
          <div>
            <div class="container-fluid mt-2">
              <div
                class="row input shadow-sm"
                style="
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  text-align: center;
                  border-radius: 10px;
                "
              >
                <div
                  class="row"
                  style="
                    flex-direction: row;
                    gap: 10px;
                    justify-content: flex-start;
                    align-items: flex-start;
                  "
                >
                  <div class="item">
                    <span>{{ numberFormControl.value }} Adults</span>
                  </div>
                  <div class="item">
                    <span>{{ numberFormControl1.value }} Child</span>
                  </div>
                  <div class="item">
                    <span>{{ numberFormControl3.value }} Infant</span>
                  </div>
                </div>
              </div>
              <div class="container">
                <!-- <div class="row" *ngFor="let data of filteredData | slice:0:6">
                  <a class="btn btn-link " (click)="onCountrySelect(data)">{{ data }}</a>
              </div> -->
                <div
                  class="row search"
                  style="
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                  "
                ></div>
              </div>
            </div>
          </div>
          <div
            id="collapse5"
            class="collapse"
            aria-labelledby="heading5"
            data-parent="#accordion"
            style="margin-top: 10px; padding-left: 10px"
          >
            <div class="card-body p-0">
              <div
                style="
                  padding-right: 0;
                  padding-left: 5px;
                  width: 100%;
                  margin-left: auto;
                  margin-right: auto;
                "
                (click)="$event.stopPropagation()"
              >
                <div class="row">
                  <div class="col-md-12 col-lg-4">
                    <label
                      style="font-family: 'Lato', sans-serif; font-size: 14px"
                      class="text-dark"
                      >Adults</label
                    >
                  </div>
                  <div class="col-md-12 col-lg-6">
                    <div class="input-group position-relative">
                      <span class="input-group-btn">
                        <button
                          class="btn btn-sm btn-outline-dark fs-3 fw-bold px-2 py-1"
                          style="
                            border-radius: 5px;
                            width: 10px;
                            height: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                          "
                          type="button"
                          (click)="decAdultCount()"
                        >
                          -
                        </button>
                      </span>
                      <input
                        id="typeNumber"
                        class="form-control py-0 px-4"
                        style="border: none"
                        [formControl]="numberFormControl"
                        #typeNumber
                      />
                      <span class="input-group-btn ms-2">
                        <button
                          class="btn btn-sm btn-outline-dark fs-3 fw-bold px-2 py-1"
                          style="
                            border-radius: 5px;
                            width: 10px;
                            height: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                          "
                          type="button"
                          (click)="incAdultCount()"
                        >
                          +
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                style="
                  padding-right: 0;
                  padding-left: 5px;
                  width: 100%;
                  margin-left: auto;
                  margin-right: auto;
                "
                (click)="$event.stopPropagation()"
              >
                <div class="row">
                  <div class="col-4">
                    <label
                      style="font-family: 'Lato', sans-serif; font-size: 14px"
                      class="text-dark"
                      >Child</label
                    >
                  </div>
                  <div class="col-6">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <button
                          class="btn btn-sm btn-outline-dark fs-3 fw-bold px-2 py-1"
                          style="
                            border-radius: 5px;
                            width: 10px;
                            height: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                          "
                          type="button"
                          (click)="decChildCount()"
                        >
                          -
                        </button>
                      </span>
                      <input
                        id="typeNumber"
                        class="form-control py-0 px-4"
                        style="border: none"
                        [formControl]="numberFormControl1"
                        #typeNumber
                      />
                      <span class="input-group-btn ms-2">
                        <button
                          class="btn btn-sm btn-outline-dark fs-3 fw-bold px-2 py-1"
                          style="
                            border-radius: 5px;
                            width: 10px;
                            height: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                          "
                          type="button"
                          (click)="incChildCount()"
                        >
                          +
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                style="
                  padding-right: 0;
                  padding-left: 5px;
                  width: 100%;
                  margin-left: auto;
                  margin-right: auto;
                "
                (click)="$event.stopPropagation()"
              >
                <div class="row">
                  <div class="col-4">
                    <label
                      style="font-family: 'Lato', sans-serif; font-size: 14px"
                      class="text-dark"
                      >Infant</label
                    >
                  </div>
                  <div class="col-6">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <button
                          class="btn btn-sm btn-outline-dark fs-3 fw-bold px-2 py-1"
                          style="
                            border-radius: 5px;
                            width: 10px;
                            height: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                          "
                          type="button"
                          (click)="decInfantCount()"
                        >
                          -
                        </button>
                      </span>
                      <input
                        id="typeNumber"
                        class="form-control py-0 px-4"
                        style="border: none"
                        [formControl]="numberFormControl3"
                        #typeNumber
                      />
                      <span class="input-group-btn ms-2">
                        <button
                          class="btn btn-sm btn-outline-dark fs-3 fw-bold px-2 py-1"
                          style="
                            border-radius: 5px;
                            width: 10px;
                            height: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                          "
                          type="button"
                          (click)="incInfantCount()"
                        >
                          +
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <br />
              <!-- <div class="m-2" style="text-align: end;">
          <button type="button" class="btn text-white fw-bold p-2 " style="background-color: #323268" data-bs-dismiss="modal" (click)="noOfTraveler(typeNumber.value)" > Save </button>
        </div> -->
            </div>
          </div>
        </div>

        <!-- <div
            class="card"
            data-toggle="collapse"
            data-target="#collapse8"
            aria-expanded="false"
            aria-controls="collapse8"
          >
            <div
              class="card-header p-2"
              id="heading8"
              style="text-align: center"
            >
              <a
                class="btn btn-link p-2 mb-0 dropdown-toggle"
                style="
                  color: #323268;
                  font-family: 'Lato', sans-serif;
                  font-size: medium;
                "
                data-toggle="collapse"
                data-target="#collapse8"
                aria-expanded="true"
                aria-controls="collapse8"
              >
                Select Hotel
              </a>
              <ng-container
                *ngIf="selectedStar || selectedProperty || selectedPrice"
              >
                <p class="fw-bold py-2 px-2 m-0 text-dark">
                  {{ selectedPrice }}
                </p>
                <p class="fw-bold py-2 px-2 m-0 text-dark">
                  {{ selectedStar }} {{ selectedProperty }}
                </p>
              </ng-container>
            </div>
            <div
              id="collapse8"
              class="collapse"
              aria-labelledby="heading8"
              data-parent="#accordion"
            >
              <div class="card-body" (click)="$event.stopPropagation()">
                <div class="container">
                  <p
                    class="fs-3 text-center text-dark"
                    style="font-family: 'Lato', sans-serif"
                  >
                    Price per night
                  </p>
                </div>
                <form action="/action_page.php">
                  <div class="form-check mb-2">
                    <label class="form-check-label text-dark">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="optradio"
                        value="₹ 0 - ₹ 3000"
                        (click)="selectPrice('₹ 0 - ₹ 3000')"
                      />
                      ₹ 0 - ₹ 3000
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <label class="form-check-label text-dark">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="optradio"
                        value="₹ 3000 - ₹ 6000"
                        (click)="selectPrice('₹ 3000 - ₹ 6000')"
                      />
                      ₹ 3000 - ₹ 6000
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <label class="form-check-label text-dark">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="optradio"
                        value="₹ 6000 - ₹ 8500"
                        (click)="selectPrice('₹ 6000 - ₹ 8500')"
                      />
                      ₹ 6000 - ₹ 8500
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <label class="form-check-label text-dark">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="optradio"
                        value="₹ 8500 - ₹ 10500"
                        (click)="selectPrice('₹ 8500 - ₹ 10500')"
                      />
                      ₹ 8500 - ₹ 10500
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <label class="form-check-label text-dark">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="optradio"
                        value="₹ 10500 - ₹ 14500"
                        (click)="selectPrice('₹ 10500 - ₹ 14500')"
                      />
                      ₹ 10500 - ₹ 14500
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <label class="form-check-label text-dark">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="optradio"
                        value="₹ 14500 - ₹ 15000"
                        (click)="selectPrice('₹ 14500 - ₹ 15000')"
                      />
                      ₹ 14500 - ₹ 15000
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <label class="form-check-label text-dark">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="optradio"
                        value="₹ 15000 - ₹ 30000"
                        (click)="selectPrice('₹ 15000 - ₹ 30000')"
                      />
                      ₹ 15000 - ₹ 30000
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <label class="form-check-label text-dark">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="optradio"
                        value="₹ 30000 +"
                        (click)="selectPrice('₹ 30000 +')"
                      />
                      ₹ 30000 +
                    </label>
                  </div>
                </form>
              </div>
              <hr class="m-0" />
              <div class="card-body" (click)="$event.stopPropagation()">
                <div class="container">
                  <p
                    class="fs-3 text-center text-dark"
                    style="font-family: 'Lato', sans-serif"
                  >
                    Star Category
                  </p>
                </div>
                <form action="/action_page.php">
                  <div class="form-check mb-2">
                    <label class="form-check-label text-dark">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="optradio"
                        value="3 Star"
                        (click)="selectStar('3 Star')"
                      />
                      3 Star
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <label class="form-check-label text-dark">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="optradio"
                        value="4 Star"
                        (click)="selectStar('4 Star')"
                      />
                      4 Star
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <label class="form-check-label text-dark">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="optradio"
                        value="5 Star"
                        (click)="selectStar('5 Star')"
                      />
                      5 Star
                    </label>
                  </div>
                </form>
              </div>
              <hr class="m-0" />
              <div class="card-body">
                <div class="container">
                  <p
                    class="fs-3 text-center text-dark"
                    style="font-family: 'Lato', sans-serif"
                  >
                    Property Type
                  </p>
                </div>
                <form action="/action_page.php">
                  <div class="form-check mb-2">
                    <label class="form-check-label text-dark">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="optradio"
                        value="Guest House"
                        (click)="selectProperty('Guest House')"
                      />
                      Guest House
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <label class="form-check-label text-dark">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="optradio"
                        value="Hotel"
                        (click)="selectProperty('Hotel')"
                      />
                      Hotel
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <label class="form-check-label text-dark">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="optradio"
                        value="Homestay"
                        (click)="selectProperty('Homestay')"
                      />
                      Homestay
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <label class="form-check-label text-dark">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="optradio"
                        value="Resort"
                        (click)="selectProperty('Resort')"
                      />
                      Resort
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <label class="form-check-label text-dark">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="optradio"
                        value="Apartment"
                        (click)="selectProperty('Apartment')"
                      />
                      Apartment
                    </label>
                  </div>
                  <div class="form-check mb-2">
                    <label class="form-check-label text-dark">
                      <input
                        type="radio"
                        class="form-check-input"
                        name="optradio"
                        value="Villa"
                        (click)="selectProperty('Villa')"
                      />
                      Villa
                    </label>
                  </div>
                </form>
              </div>
            </div>
          </div>
   -->

          <!-- Search Button -->
        <div class="py-4" style="text-align: center">
          <button
            type="button"
            class="btn text-white"
            style="
              background-color: #e2472b;
              text-align: center;
              height: 26px;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 76px;
              align-items: center;
              justify-content: center;
              padding: 5px;
            "
            (click)="sendRequest()"
          >
            Search
          </button>
        </div>
      </div>

    </div>
  </nav>

</main>
