<div class="body">
    <div role="main" class="main shop pb-4">

        <div class="container">

            <div class="row">
                <div class="col">
                    <ul class="breadcrumb breadcrumb-dividers-no-opacity font-weight-bold text-6 justify-content-center my-5">
                        <li class="text-transform-none me-2">
                            <a href="shop-cart.html" class="text-decoration-none text-color-dark text-color-hover-primary">Package</a>
                        </li>
                        <li class="text-transform-none text-color-dark me-2">
                            <a href="shop-checkout.html" class="text-decoration-none text-color-primary">Checkout</a>
                        </li>
                        <li class="text-transform-none text-color-grey-lighten">
                            <a href="shop-order-complete.html" class="text-decoration-none text-color-grey-lighten text-color-hover-primary">Order Complete</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- <div class="row">
                <div class="col">
                    <p class="mb-1">Returning customer? <a href="#" class="text-color-dark text-color-hover-primary text-uppercase text-decoration-none font-weight-bold" data-bs-toggle="collapse" data-bs-target=".login-form-wrapper">Login</a></p>
                </div>
            </div> -->

            <div class="row login-form-wrapper collapse mb-5">
                <div class="col">
                    <div class="card border-width-3 border-radius-0 border-color-hover-dark">
                        <div class="card-body">
                            <form action="/" id="frmSignIn" method="post">
                                <div class="row">
                                    <div class="form-group col">
                                        <label class="form-label text-color-dark text-3">Email address <span class="text-color-danger">*</span></label>
                                        <input type="text" value="" class="form-control form-control-lg text-4" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <label class="form-label text-color-dark text-3">Password <span class="text-color-danger">*</span></label>
                                        <input type="password" value="" class="form-control form-control-lg text-4" required>
                                    </div>
                                </div>
                                <div class="row justify-content-between">
                                    <div class="form-group col-md-auto">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="rememberme">
                                            <label class="form-label custom-control-label cur-pointer text-2" for="rememberme">Remember Me</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-auto">
                                        <a class="text-decoration-none text-color-dark text-color-hover-primary font-weight-semibold text-2" href="#">Forgot Password?</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <button type="submit" class="btn btn-dark btn-modern w-100 text-uppercase rounded-0 font-weight-bold text-3 py-3" data-loading-text="Loading...">Login</button>
                                        <div class="divider">
                                            <span class="bg-light px-4 position-absolute left-50pct top-50pct transform3dxy-n50">or</span>
                                        </div>
                                        <a href="#" class="btn btn-primary-scale-2 btn-modern w-100 text-transform-none rounded-0 font-weight-bold align-items-center d-inline-flex justify-content-center text-3 py-3" data-loading-text="Loading..."><i class="fab fa-facebook text-5 me-2"></i> Login With Facebook</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="row">
                <div class="col">
                    <p>Have a coupon? <a href="#" class="text-color-dark text-color-hover-primary text-uppercase text-decoration-none font-weight-bold" data-bs-toggle="collapse" data-bs-target=".coupon-form-wrapper">Enter your code</a></p>
                </div>
            </div> -->

            <div class="row coupon-form-wrapper collapse mb-5">
                <div class="col">
                    <div class="card border-width-3 border-radius-0 border-color-hover-dark">
                        <div class="card-body">
                            <form role="form" method="post" action="">
                                <div class="d-flex align-items-center">
                                    <input type="text" class="form-control h-auto border-radius-0 line-height-1 py-3" name="couponCode" placeholder="Coupon Code" required />
                                    <button type="submit" class="btn btn-light btn-modern text-color-dark bg-color-light-scale-2 text-color-hover-light bg-color-hover-primary text-uppercase text-3 font-weight-bold border-0 border-radius-0 ws-nowrap btn-px-4 py-3 ms-2">Apply Coupon</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <form role="form" class="needs-validation" method="post" action="">
                <div class="row">
                    <div class="col-lg-7 mb-4 mb-lg-0">

                        <h2 class="text-color-dark font-weight-bold text-5-5 mb-3">Billing Details</h2>
                        <div *ngIf="user" class="col">
                            <div class="col">
                                
                                <div class="row">
                                    <div class="">
                                        Hi  <h1>Shubham</h1>
                                    </div>
                                     
                                </div>
                                
                                <p>Below are your details please check it</p>
                            </div>
                           
                            <div class="row">
                                <div class="form-group col">
                                    <label class="form-label">Email <span class="text-color-danger">*</span></label>
                                    <div>
                                       <p > Your email id is :  <span class="font-weight-bold">{{ user.email }}</span></p>
                                    </div>


                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <label class="form-label">Phone <span class="text-color-danger">*</span></label>
                                    <input type="number" class="form-control h-auto py-2" name="phone" value="" required />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                  <div class="d-flex justify-content-start align-items-center border license">
                                    <label class="form-label font-weight-bold"> Additional Licenses <span class="text-color-danger">*</span></label>
                                    <div class="input-group d-flex justify-content-start align-items-center w-50">
                                      <button class="btn btn-outline-secondary m-2 border" type="button" (click)="decreaseQuantity()">-</button>
                                      <input type="number" class="form-control h-auto py-2 w-25 font-weight-bold h3" name="additionalLicenses" [(ngModel)]="quantity" required />
                                      <button class="btn btn-outline-secondary m-2 border" type="button" (click)="increaseQuantity()">+</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              
                              
                              

                        </div>

                        <div *ngIf="user===null">
                            <div class="row">
                                <div class="form-group col">
                                    <div class="custom-checkbox-1">
                                        <input id="alreadyUser" type="checkbox" name="alreadyUser" [(ngModel)]="alreadyUser" (change)="logAlreadyUserValue()" />
                                        <label for="alreadyUser">Already User</label>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="alreadyUser">
                                <div class="row">
                                    <div class="form-group col">
                                        <label class="form-label">Phone <span class="text-color-danger">*</span></label>
                                        <input type="number" class="form-control h-auto py-2" name="phone" value="" required />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <label class="form-label">Email Address <span class="text-color-danger">*</span></label>
                                        <input type="email" class="form-control h-auto py-2" name="email" value="" required />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <label class="form-label">Password <span class="text-color-danger">*</span></label>
                                        <input type="password" class="form-control h-auto py-2" name="password" value="" required />
                                    </div>
                                </div>
    
                            </div>

                            <div *ngIf="!alreadyUser">
                                <div class="row">
                                    <div class="form-group col">
                                        <label class="form-label">Name <span class="text-color-danger">*</span></label>
                                        <input type="text" class="form-control h-auto py-2" name="name" value="" required />
                                    </div>
                                </div>
                                
                                
                                <div class="row">
                                    <div class="form-group col">
                                        <label class="form-label">Phone <span class="text-color-danger">*</span></label>
                                        <input type="number" class="form-control h-auto py-2" name="phone" value="" required />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <label class="form-label">Email Address <span class="text-color-danger">*</span></label>
                                        <input type="email" class="form-control h-auto py-2" name="email" value="" required />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <label class="form-label">Set Password <span class="text-color-danger">*</span></label>
                                        <input type="password" class="form-control h-auto py-2" name="password" value="" required />
                                    </div>
                                </div>
    
                                
                            
                                <!-- <div class="row">
                                    <div class="form-group col">
                                        <div class="custom-checkbox-1">
                                            <input id="createAccount" type="checkbox" name="createAccount" value="1" />
                                            <label for="createAccount">Create an account ?</label>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                  <div class="d-flex justify-content-start align-items-center border license">
                                    <label class="form-label font-weight-bold"> Additional Licenses <span class="text-color-danger">*</span></label>
                                    <div class="input-group d-flex justify-content-start align-items-center w-50">
                                      <button class="btn btn-outline-secondary m-2 border" type="button" (click)="decreaseQuantity()">-</button>
                                      <input type="number" class="form-control h-auto py-2 w-25 font-weight-bold h3" name="additionalLicenses" [(ngModel)]="quantity" required />
                                      <button class="btn btn-outline-secondary m-2 border" type="button" (click)="increaseQuantity()">+</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            
                              
    
                            </div>

                            <button type="submit" class="btn btn-dark btn-modern w-100 text-uppercase bg-color-hover-primary border-color-hover-primary border-radius-0 text-3 py-3" (click)="navigationToCashfree()" >Submit </button>

                            
                     
                        
                        
                        <!-- Ship to a differente address fields -->
                        

                    </div>
                    <div class="col-lg-5 position-relative">
                        <div class="card border-width-3 border-radius-0 border-color-hover-dark" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.row', 'padding': {'top': 85}}">
                            <div class="card-body">
                                <h4 class="font-weight-bold text-uppercase text-4 mb-3">Your Package</h4>
                                <table class="shop_table cart-totals mb-3">
                                    <tbody>
                                        <tr>
                                            <td colspan="2" class="border-top-0">
                                                <strong class="text-color-dark">Product</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong class="d-block text-color-dark line-height-1 font-weight-semibold">RouteMaestro {{plan}} <span class="product-qty"></span></strong>
                                            </td>
                                            <td class="text-end align-top">
                                                <span class="amount font-weight-medium text-color-grey">₹{{value}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong class="d-block text-color-dark line-height-1 font-weight-semibold">License <span class="product-qty">x{{quantity}}</span></strong>
                                            </td>
                                            <td class="text-end align-top">
                                                <span class="amount font-weight-medium text-color-grey">₹{{licenseTotal}} </span>
                                            </td>
                                        </tr>
                                       
                                       
                                        <tr class="total">
                                            <td>
                                                <strong class="text-color-dark text-3-5">Total</strong>
                                            </td>
                                            <td class="text-end">
                                                <strong class="text-color-dark"><span class="amount text-color-dark text-5">₹ {{total}} </span></strong>
                                            </td>
                                        </tr>
                                        <tr class="payment-methods">
                                            <td colspan="2">
                                                <strong class="d-block text-color-dark mb-2">Payment Methods</strong>

                                                <div class="d-flex flex-column">
                                                    
                                                    <label class="d-flex align-items-center text-color-grey mb-0" for="payment_method2">
                                                        <input id="payment_method2" type="radio" class="me-2" name="payment_method" value="paypal" />
                                                        Online Payment
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our privacy policy.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="submit" class="btn btn-dark btn-modern w-100 text-uppercase bg-color-hover-primary border-color-hover-primary border-radius-0 text-3 py-3" (click)="navigationToCashfree()" >Place Order <i class="fas fa-arrow-right ms-2"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>

    </div>

    
</div>



