* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
  }
  
  main {
    position: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  
  .sub-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
  }
  
  .container {
    width: 80vw;
    height: 90vh;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    z-index: 99;
  }
  
  .head {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #03254a; /* Updated header background color */
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    span {
      font-weight: 600;
      font-size: 1.2rem;
    }
  }
  
  .navbars {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
  }
  
  .item {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #e74c3c; /* Updated item background color */
    color: #fff;
    transition: background-color 0.3s ease;
    span {
      font-weight: 600;
    }
  }
  
  .item:hover {
    background-color: #c0392b; /* Updated item hover color */
  }
  
  .content {
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: black;
    flex: 1;
    overflow-y: auto;
  }
  
  .flight-name{
    
        margin-top: 10px;
        span{
          font-weight: 600;
          font-size: 1.2rem;
        }
      
  }